<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="font/iconfont.css">
	<script type="text/javascript" src="font/iconfont.js"></script>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
			user-select: none;
			text-decoration: none;
		}
		.txt{
			width: 600px;
			height: 38px;
			line-height: 38px;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="container" style="width: 600px;min-height: 500px;margin: 30px auto;">
		<!-- 输入框 -->
			<div>
				<input v-model='something' id="text" type="text" name="" placeholder="请输入要添加的事项" style="width: 550px;height: 40px;text-indent: 1em;line-height: 40px;">
				<!-- <i v-if="!text.value" style="width: 40px;height: 40px;line-height: 40px;display: block;font-size: 40px;float: right;">&#xe61e;</i> -->
				<i class="iconfont"  v-on:click="add" style="width: 40px;height: 40px;line-height: 40px;display: block;font-size: 40px;float: right;">&#xe61e;</i>
			</div>
		<!-- 即将要完成的事项 -->
			<div class="cont" style="width: 600px;min-height: 180px;background: #eef;margin-top: 10px;">
				<h3 style="line-height: 34px;background: #f5c84f;line-height: 34px;text-indent: 1em;">即将要完成的事项</h3>
				<!-- 还未添加事项 -->
				<div v-if="!list.length" style="text-align: center;line-height: 150px;">还未添加事项</div>
				<!-- 事项 -->
				<div class="txt" v-else v-for="(item,index) in list" style="text-indent: 1em;border-bottom: solid 1px #d2d0cd;
			background: #f7e1a5;">
					{{item}}
					<span style="display: inline-block;width: 38px;height: 38px;border-right: solid 1px #f7d59c;float: left;line-height: 38px;"></span>
					<i class="iconfont" v-on:click="done(item,index)" style="width: 38px;height: 38px;line-height: 38px;display: block;font-size: 30px;float: right;margin-right: 8px;">&#xe665;</i>
				</div>
			</div>
		<!-- 完成的事项 -->
			<div class="ok" style="width: 600px;min-height: 180px;background: #aef3ba;margin-top: 10px;">
				<h3 style="line-height: 34px;background: #8ade7c;line-height: 34px;text-indent: 1em;">完成的事项</h3>
				<!-- 已完成事项 -->
				<div v-if="!doneList.length" style="text-align: center;line-height: 150px;">还未添加事项</div>
				<!-- 事项 -->
				<div class="txt" v-for="(item,index) in doneList" style="text-indent: 1em;border-bottom: solid 1px #d2d0cd;
			background: #f9e9e9;">
					{{item}}
					<span style="display: inline-block;width: 38px;height: 38px;border-right: solid 1px #f7d59c;float: left;line-height: 38px;"></span>
					<!-- 未完成 -->
					<i class="iconfont" v-on:click="no(item,index)" style="width: 38px;height: 38px;line-height: 38px;display: block;font-size: 30px;float: right;margin-right: 8px;">&#xe668;</i>
					<!-- 删除 -->
					<i class="iconfont" v-on:click="del(index)" style="width: 38px;height: 38px;line-height: 38px;display: block;font-size: 30px;float: right;margin-right: 8px;">&#xe612;</i>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el:'#app',
		data(){
			return {
				something:'',
				list:[],
				doneList:[],
			}
		},
		methods:{
			add(){
				this.list.push(this.something);
				this.something ='';
			},
			done(item,index){
				this.list.splice(index,1);
				this.doneList.push(item);
			},
			no(item,index){
				this.doneList.splice(index,1);
				this.list.push(item);
			},
			del(index){
				this.doneList.splice(index,1);
			}
		}
	})
</script>
</html>