<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style type="text/css">
			*{
				user-select: none;
			}
			.box{
				height: 40px;
				width:178px;
				border:1px solid;
				margin: 100px auto;
			}
			.jia,.jian{
				display: inline-block;
				width:40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
			}
			.input{
				width:80px;
				height: 35px;
				line-height: 35px;
				text-align: center;
				vertical-align: top;
			}
		</style>
	</head>
	<body>
		<div id='app'>
			<bc-input-number v-model="value" :max='10' :min='0' :step="1" :disabled='true'></bc-input-number>
		</div>
		

		<template id='inputNumber'>
			<div class='box'>
				<span class='jian' @click='jian'>-</span>
				<input type="text" class='input' v-model='v' readonly>
				<span class='jia' @click='jia'>+</span>
			</div>
		</template>
		<script type="text/javascript">
			Vue.component('bcInputNumber',{
				template:'#inputNumber',
				props:['value','max','min','step','disabled'],
				data(){
					return{
						v:this.value,
					}
				},
				watch:{
					v(val,oldvalue){
						this.$emit('input',val);
					}
				},
				methods:{
					jia(){
						if(!this.disabled) return;
						if(this.v>=this.max) return;
						this.v += this.step || 1;
					},
					jian(){
						if(!this.disabled) return;
						if(this.v<=this.min) return;
						this.v -= this.step || 1;
					}
				},
			});
			var vm=new Vue({
				el:'#app',
				data:{
					value:1,
				}
			})
		</script>
	</body>
</html>
