@charset "utf-8";
/* 重置样式表 */
*{margin: 0;padding: 0;box-sizing: border-box;}
ul,ol{list-style: none;}
em,i{font-style: normal;}
a{text-decoration: none; color: #000;}
a:hover{text-decoration: underline;}
input{border:none; outline: none; background-color: transparent;}
/*公用*/
.clearfix:after,.clearfix:before{content: '';display: table;}.clearfix:after{clear: both;}
.hide{display: none;}
.fl{float: left;}
.fr{float: right;}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('iconfont.woff2') format('woff2'),
        url('iconfont.woff') format('woff'),
        url('iconfont.ttf') format('truetype'),
        url('iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .search_box{
      width: 720px;
      padding: 28px 50px 28px 70px;
      text-align: center;
    input{
        background: #e8e8e8 ;
        width: 434px;
        height: 60px;
        border-radius: 30px;
        padding-left: 20px;
        font-size: 20px;
    }
    span{
        height: 60px;
        line-height: 60px;
        font-size: 52px;
    }
    i{padding-left: 12px;font-size: 32px}
    em{padding-left: 20px;font-size: 32px}
    p{
        margin-top: -30px;
        margin-left: -140px;
        width: 434px;
        line-height: 1px;
        b{
            font-size: 28px;
            padding-right: 5px;
            margin-top: 20px;
            color: #5f5f5f
        }
    }
  }
