<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/iconfont.css">
	<script src="flexible/flexible.js"></script>
	<script src="flexible/flexible_css.js"></script>



</head>

<body>
	<div></div>
	<div class="container">
		<container>
			<!-- 头部 -->
			<bc-header class="header"></bc-header>
			<!-- 内容 -->
			<bc-main class="content">
				<abc :data="str" :disabled="true" v-model="value" :min="0" :step="1">
					<!-- <bc-input-number ></bc-input-number> -->
				</abc>

			</bc-main>
			<!-- 尾部 -->
			<bc-footer class="footer"></bc-footer>
		</container>

		<div class="toTop">
			<a href="#">top</a>
		</div>
	</div>



	<!-- 大盒子 -->
	<template id="container">
		<div class="">
			<slot></slot>
		</div>
	</template>
	<!-- 头部 -->
	<template id="bcheader">
		<div class="">
			<slot>
				<div class="fl clearfix lArrow">&lt;</div>
				<div class="fl clearfix shopName">庆丰包子铺(窦店)</div>
			</slot>
		</div>
	</template>
	<!-- 内容 -->
	<template id="bcmain">
		<div class="">
			<slot></slot>
		</div>
	</template>
	<!-- 内容 -->
	<template id="abc">
		<div class="content">
			<div class="list">
				<ul>
					<li>点餐</li>
					<li>评价</li>
					<li>商家</li>
				</ul>
			</div>
			<div class="contentList">
				<div class="orderList">
					<div class="orderList_l fl clearfix">
						<ul>
							<li @click="dianji(index)" v-for="(item,index) in str">
								{{item.category}}
							</li>
						</ul>
					</div>
					<div class="orderList_r fr clearfix" v-for="(items,index) in str[i].detail">
						<div class="orderList_r_item">
							<div class="orderList_r_item_top clearfix">
								<div class="orderList_r_item_l fl clearfix">
									<img :src="items.imgurl" alt="">
								</div>
								<div class="orderList_r_item_r fl clearfix">
									<span class="right_item_r_span">{{items.foodName}}</span>
									<p>月售51份，好评率100%</p>
									<div class="lBox fl clearfix">
										<span>￥{{items.price}}</span>
									</div>
									<div class="rBox fr clearfix">
										<div class="el-input-number">
											<div class="el-input-number">
												<span @click="jian(items)" role="button"
													class="el-input-number__decrease is-disabled">
													-
												</span>
												<span style="margin-left: 45px;">{{items.num || 0}}</span>
												<span @click="jia(items)" role="button"
													class="el-input-number__increase">
													+
												</span>
												<!-- <div class="el-input">
													<input type="text" v-model="v" class="el-input__inner" readonly>
													{{items.num}}
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="orderList_r_item_bottom">
								<i style="font-weight: bolder;font-style: normal;">热销</i>
								<span>大家喜欢吃，才叫真好吃</span>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="commentList" style="display: none;">评价123123123123</div>
				<div class="shopList" style="display: none;">商家123123123</div> -->
			</div>
		</div>
	</template>

	<!-- 加减计数器 -->
	<!-- <template id="inputNumber">

	</template> -->
	<!-- 尾部 -->
	<template id="bcfooter">
		<div class="">
			<slot>
				<div class="footerBox clearfix">
					<div class="shopping fl clearfix">
						<span class="icon icon-qicheqianlian-1">购物车</span>
					</div>
					<div class="priceBox fl clearfix">
						<!-- ￥<span>{{maxnum}}</span> -->
						￥<span></span>
						<p>另需配送费8元</p>
					</div>
					<div class="rBox fr clearfix">去结算</div>
				</div>
			</slot>
		</div>
	</template>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		Vue.component('container', {
			template: '#container',
		})
		var component1 = Vue.component('bc-header', {
			template: '#bcheader',
		})

		var component2 = Vue.component('bc-main', {
			template: '#bcmain',

		})
		var component3 = Vue.component('bc-footer', {
			template: '#bcfooter',

		})

		// 内容
		var conponent = Vue.component('abc', {
			template: '#abc',
			props: ['data', 'value', 'min', 'step', 'disabled'],
			data() {
				return {
					num: '',
					str: this.data,
					v: this.value,
					i: 0,
				}
			},
			computed: {
				add() {
					var arr = [];
					this.str.forEach(element => {
						this.detail.forEach(el => {
							if (el.num) {
								arr.push(el)
							}
						})
					})
					return arr;
				},
				maxnum() {
					var myprice = 0;
					this.add.forEach(el => {
						myprice += el.price * el.num
					})
					return myprice.toFixed(0);
				},
			},
			methods: {
				dianji(index) {
					// alert(11111);
					this.i = index;
					this.num = this.str[index];
					console.log(this.num);
				},
				jia(items) {
					// console.log(maxnum)
					if (items.num) {
						items.num++
					} else {
						Vue.set(items, 'num', 1)
					}
					// 	if (!this.disabled) return;
					// 	// if (this.v >= this.max) return;
					// 	this.v += this.step || 1;
				},
				// 减
				jian(items) {
					if (items.num <= 0) return;
					items.num--;
					// 	if (!this.disabled) return;
					// 	if (this.v <= this.min) return;
					// 	this.v -= this.step || 1;
				}
			},
			watch: {
				v(value, oldvalue) {
					this.$emit('input', value);
					// 把value传出去
				}
			},
		})

		// 加减计数器
		// var compoment4 = Vue.component('bcInputNumber', {
		// 	template: '#inputNumber',
		// 	props: [],
		// 	data() {
		// 		return {

		// 		}
		// 	},

		// 	methods: {
		// 		// 加

		// 	}
		// });

		new Vue({
			el: ".container",
			data() {
				return {
					obj: {
						x: 1,
						y: 2
					},
					value: 0,
					checkbox: true,
					select: '',
					radio: '',
					str: [{
							// 分类
							category: '热销',
							detail: [{
								'imgurl': 'http://p0.meituan.net/wmproduct/50137a2b668f606f2efc2fff577a64c827438.jpg@130w_130h_1e_1c',
								'foodName': '猪肉大葱',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'http://p1.meituan.net/wmproduct/8a8fbebf8d6cbc183fc41da6117b44e834452.jpg@130w_130h_1e_1c',
								'foodName': '素三鲜',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'http://img2.imgtn.bdimg.com/it/u=3761987825,925723237&fm=26&gp=0.jpg',
								'foodName': '茶叶蛋',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=4292844575,1757041827&fm=26&gp=0.jpg',
								'foodName': '棒渣粥',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}]
						}, {
							'category': '水饺',
							'detail': [{
								'imgurl': 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2177942075,950190465&fm=26&gp=0.jpg',
								'foodName': '猪肉白菜水饺',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1304809467,3081487397&fm=26&gp=0.jpg',
								'foodName': '鱿鱼三鲜水饺',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1304809467,3081487397&fm=26&gp=0.jpg',
								'foodName': '牛肉芹菜水饺',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1304809467,3081487397&fm=26&gp=0.jpg',
								'foodName': '虾仁三鲜水饺',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}]
						}, {
							'category': '流食',
							'detail': [{
								'imgurl': 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2376505469,1171838866&fm=26&gp=0.jpg',
								'foodName': '鲜肉混沌',
								// 主要原料
								'mainprincipal': '大米',
								'price': 6
							}, {
								'imgurl': 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2376505469,1171838866&fm=26&gp=0.jpg',
								'foodName': '紫米粥莲子粥',
								// 主要原料
								'mainprincipal': '大米',
								'price': 5
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=4292844575,1757041827&fm=26&gp=0.jpg',
								'foodName': '棒渣粥',
								// 主要原料
								'mainprincipal': '大米',
								'price': 3
							}, {
								'imgurl': 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2376505469,1171838866&fm=26&gp=0.jpg',
								'foodName': '荠菜馄饨',
								// 主要原料
								'mainprincipal': '大米',
								'price': 6
							}, {
								'imgurl': 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2376505469,1171838866&fm=26&gp=0.jpg',
								'foodName': '鲜虾馄饨',
								// 主要原料
								'mainprincipal': '大米',
								'price': 10
							}]
						}, {
							'category': '凉菜',
							'detail': [{
								'imgurl': 'http://img3.imgtn.bdimg.com/it/u=1998810528,3356936245&fm=26&gp=0.jpg',
								'foodName': '芥兰黄豆',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'http://img2.imgtn.bdimg.com/it/u=3761987825,925723237&fm=26&gp=0.jpg',
								'foodName': '茶叶蛋',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=357352999,737373479&fm=15&gp=0.jpg',
								'foodName': '奥尔良鸡翅',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2049498944,502161855&fm=26&gp=0.jpg',
								'foodName': '果仁菠菜',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3160863404,2827384422&fm=26&gp=0.jpg',
								'foodName': '酱牛肉',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=4214090929,1988103149&fm=26&gp=0.jpg',
								'foodName': '爽口木耳',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1519740399,3243534047&fm=26&gp=0.jpg',
								'foodName': '酱肘花',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1125968908,3579229732&fm=26&gp=0.jpg',
								'foodName': '肉皮冻',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1098275616,378835929&fm=26&gp=0.jpg',
								'foodName': '五香鸡爪',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=903832,1615867443&fm=26&gp=0.jpg',
								'foodName': '有机海带',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2061884906,3147719733&fm=26&gp=0.jpg',
								'foodName': '有机海带',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=792472538,311820660&fm=26&gp=0.jpg',
								'foodName': '拌花生米',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}]
						},
						{
							// 分类
							'category': '包子',
							'detail': [{
								'imgurl': 'http://p0.meituan.net/wmproduct/50137a2b668f606f2efc2fff577a64c827438.jpg@130w_130h_1e_1c',
								'foodName': '猪肉大葱',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'http://p1.meituan.net/wmproduct/8a8fbebf8d6cbc183fc41da6117b44e834452.jpg@130w_130h_1e_1c',
								'foodName': '素三鲜',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'http://img2.imgtn.bdimg.com/it/u=3761987825,925723237&fm=26&gp=0.jpg',
								'foodName': '茶叶蛋',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}, {
								'imgurl': 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=4292844575,1757041827&fm=26&gp=0.jpg',
								'foodName': '棒渣粥',
								// 主要原料
								'mainprincipal': '大米',
								'price': 12
							}]
						}
					]
				}
			}

		})
	</script>


</body>

</html>