* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

.clearfix:after, .box:after, .header:after, .item:after, .clearfix:before, .box:before, .header:before, .item:before {
  content: "";
  display: table; }

.clearfix:after, .box:after, .header:after, .item:after {
  clear: both; }

.box {
  width: 10rem;
  height: auto;
  background-color: #fff;
  overflow: hidden; }
  .head {
    width: 10rem;
    position: fixed;
    top: 0;
    left: 0; }
    .header {
      width: 100%;
      height: 1.33333rem;
      background-color: #fff;
      padding: 0.45333rem 0.44rem;
      box-sizing: border-box;
      text-align: center;
      line-height: 0.44rem;
      border-bottom: 1px #dfdfdf solid; }
      .header span {
        font-size: 15px;
        color: #2895b7;
        float: left;
        margin-right: 0.2rem; }
      .header .headspan {
        float: right; }
        .search {
          font-weight: bold; }
        .header .headspan span {
          font-size: 23px;
          margin-left: 0.4rem; }
      .header h4 {
        font-size: 26px;
        color: #040404;
        float: left;
        margin-left: 0.49333rem; }
    .nav {
      width: 100%;
      height: 1.05333rem;
      background-color: #fff;
      display: flex; }
      .nav li {
        flex: 1;
        text-align: center;
        line-height: 1.05333rem;
        font-size: 20px; }
        .nav li a:hover {
          border-bottom: 0.04rem #268ada solid; }
        .nav li a {
          color: #343434;
          text-decoration: none; }
  .main {
    width: 100%;
    margin-top: 2.53333rem; }
    .list {
      width: 2.04rem;
      height: 100%;
      float: left;
      margin-right: 0.29333rem; }
      .list li:hover {
        background-color: #fff; }
      .list li {
        width: 100%;
        height: 1.10667rem;
        background-color: #f8f8f8;
        padding-left: 0.21333rem;
        box-sizing: border-box;
        line-height: 1.10667rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .list li a:hover {
          color: #888888; }
        .list li a {
          color: #626262;
          font-size: 18px;
          text-decoration: none; }
    .mainRight {
      width: 7.66667rem;
      float: left; }
      .item {
        width: 100%;
        margin-bottom: 0.54667rem;
        background-color: #fff; }
        .img {
          width: 2.54667rem;
          height: 2.54667rem;
          float: left;
          margin-right: 0.4rem; }
          .img img {
            width: 100%;
            height: 2.53333rem; }
        .wen {
          width: 4.72rem;
          float: left; }
          .wen h3 {
            font-size: 28px;
            color: #282828;
            margin-bottom: 0.21333rem; }
          .wen p {
            font-size: 17px;
            color: #a8a8a8;
            line-height: 0.45333rem; }
          .wen span {
            color: #f85b4b;
            font-size: 23px; }
          .el-input-number {
            position: relative;
            display: inline-block;
            width: 1.6rem;
            line-height: 0.50667rem; }
          .el-input-number__decrease, .el-input-number__increase {
            position: absolute;
            z-index: 1;
            top: 1px;
            width: 0.53333rem;
            height: auto;
            text-align: center;
            background: #f5f7fa;
            cursor: pointer;
            font-size: 20px;
            font-weight: bolder; }
          .el-input-number__decrease, .el-input-number__increase {
            width: 0.53333rem;
            height: 0.53333rem;
            font-size: 30px;
            text-align: center;
            line-height: 0.4rem;
            background: #2795ee;
            border: 0.04rem #2795ee solid;
            color: #fff;
            border-radius: 50%;
            right: 0;
            box-sizing: border-box; }
          .el-input-number__decrease {
            background: #fff;
            left: 0;
            color: #606266;
            font-size: 35px;
            border-radius: 50%;
            line-height: 0.33333rem; }
          .el-input__inner {
            -webkit-appearance: none;
            width: 100%;
            height: 0.53333rem;
            text-align: center;
            line-height: 0.53333rem;
            background-color: #fff;
            background-image: none;
            border-radius: 0.05333rem;
            box-sizing: border-box;
            border: none;
            color: #606266;
            display: inline-block;
            font-size: inherit;
            outline: none;
            padding: 0 0.53333rem;
            transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .foot {
    width: 10rem;
    height: 1.29333rem;
    position: fixed;
    bottom: 0;
    left: 0; }
    .footLeft {
      width: 7.18667rem;
      height: 100%;
      padding: 0.22667rem 0.32rem;
      box-sizing: border-box;
      background-color: #515152;
      float: left;
      position: relative; }
      .gw {
        width: 1.33333rem;
        height: 1.33333rem;
        display: inline-block;
        border: 0.10667rem #454445 solid;
        box-sizing: border-box;
        background-color: #2f92e8;
        border-radius: 50%;
        text-align: center;
        line-height: 1.09333rem;
        position: absolute;
        top: -0.26667rem;
        left: 0.32rem; }
        .gw a span {
          font-size: 30px;
          color: #fdfffd; }
      .zj {
        height: 100%;
        float: left;
        margin-left: 1.77333rem; }
        .zj p {
          font-size: 20px;
          line-height: 0.52rem;
          color: #fff; }
        .zj span {
          font-size: 13px;
          color: #858585; }
    .footRight {
      width: 2.81333rem;
      height: 100%;
      background-color: #37cb72;
      float: left;
      text-align: center;
      line-height: 1.29333rem; }
      .footRight a {
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 20px;
        color: #e2ffec;
        text-decoration: none; }
