* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

.clearfix:after, .box:after, .header:after, .item:after, .clearfix:before, .box:before, .header:before, .item:before {
  content: "";
  display: table; }

.clearfix:after, .box:after, .header:after, .item:after {
  clear: both; }

.box {
  width: 750px;
  height: auto;
  background-color: #fff;
  overflow: hidden; }
  .head {
    width: 750px;
    position: fixed;
    top: 0;
    left: 0; }
    .header {
      width: 100%;
      height: 100px;
      background-color: #fff;
      padding: 34px 33px;
      box-sizing: border-box;
      text-align: center;
      line-height: 33px;
      border-bottom: 1px #dfdfdf solid; }
      .header span {
        font-size: 15px;
        color: #2895b7;
        float: left;
        margin-right: 15px; }
      .header .headspan {
        float: right; }
        .search {
          font-weight: bold; }
        .header .headspan span {
          font-size: 23px;
          margin-left: 30px; }
      .header h4 {
        font-size: 26px;
        color: #040404;
        float: left;
        margin-left: 37px; }
    .nav {
      width: 100%;
      height: 79px;
      background-color: #fff;
      display: flex; }
      .nav li {
        flex: 1;
        text-align: center;
        line-height: 79px;
        font-size: 20px; }
        .nav li a:hover {
          border-bottom: 3px #268ada solid; }
        .nav li a {
          color: #343434;
          text-decoration: none; }
  .main {
    width: 100%;
    margin-top: 190px; }
    .list {
      width: 153px;
      height: 100%;
      float: left;
      margin-right: 22px; }
      .list li:hover {
        background-color: #fff; }
      .list li {
        width: 100%;
        height: 83px;
        background-color: #f8f8f8;
        padding-left: 16px;
        box-sizing: border-box;
        line-height: 83px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .list li a:hover {
          color: #888888; }
        .list li a {
          color: #626262;
          font-size: 18px;
          text-decoration: none; }
    .mainRight {
      width: 575px;
      float: left; }
      .item {
        width: 100%;
        margin-bottom: 41px;
        background-color: #fff; }
        .img {
          width: 191px;
          height: 191px;
          float: left;
          margin-right: 30px; }
          .img img {
            width: 100%;
            height: 190px; }
        .wen {
          width: 354px;
          float: left; }
          .wen h3 {
            font-size: 28px;
            color: #282828;
            margin-bottom: 16px; }
          .wen p {
            font-size: 17px;
            color: #a8a8a8;
            line-height: 34px; }
          .wen span {
            color: #f85b4b;
            font-size: 23px; }
          .el-input-number {
            position: relative;
            display: inline-block;
            width: 120px;
            line-height: 38px; }
          .el-input-number__decrease, .el-input-number__increase {
            position: absolute;
            z-index: 1;
            top: 1px;
            width: 40px;
            height: auto;
            text-align: center;
            background: #f5f7fa;
            cursor: pointer;
            font-size: 20px;
            font-weight: bolder; }
          .el-input-number__decrease, .el-input-number__increase {
            width: 40px;
            height: 40px;
            font-size: 30px;
            text-align: center;
            line-height: 30px;
            background: #2795ee;
            border: 3px #2795ee solid;
            color: #fff;
            border-radius: 50%;
            right: 0;
            box-sizing: border-box; }
          .el-input-number__decrease {
            background: #fff;
            left: 0;
            color: #606266;
            font-size: 35px;
            border-radius: 50%;
            line-height: 25px; }
          .el-input__inner {
            -webkit-appearance: none;
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: #fff;
            background-image: none;
            border-radius: 4px;
            box-sizing: border-box;
            border: none;
            color: #606266;
            display: inline-block;
            font-size: inherit;
            outline: none;
            padding: 0 40px;
            transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .foot {
    width: 750px;
    height: 97px;
    position: fixed;
    bottom: 0;
    left: 0; }
    .footLeft {
      width: 539px;
      height: 100%;
      padding: 17px 24px;
      box-sizing: border-box;
      background-color: #515152;
      float: left;
      position: relative; }
      .gw {
        width: 100px;
        height: 100px;
        display: inline-block;
        border: 8px #454445 solid;
        box-sizing: border-box;
        background-color: #2f92e8;
        border-radius: 50%;
        text-align: center;
        line-height: 82px;
        position: absolute;
        top: -20px;
        left: 24px; }
        .gw a span {
          font-size: 30px;
          color: #fdfffd; }
      .zj {
        height: 100%;
        float: left;
        margin-left: 133px; }
        .zj p {
          font-size: 20px;
          line-height: 39px;
          color: #fff; }
        .zj span {
          font-size: 13px;
          color: #858585; }
    .footRight {
      width: 211px;
      height: 100%;
      background-color: #37cb72;
      float: left;
      text-align: center;
      line-height: 97px; }
      .footRight a {
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 20px;
        color: #e2ffec;
        text-decoration: none; }
