<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/flexible_css.js"></script>
    <script src="js/flexible.js"></script>
    <link rel="stylesheet" href="css/01.css">
</head>

<body>
    <div id="app">
        <bc-content-cont></bc-content-cont>
    </div>
    <template id="contentNav">
        <div id="box">
            <div class="left">
                <ul>
                    <li @click="num=index" v-for="(item,index) in foods" :class="num==index?'active':''">{{item.classify}}</li>
                </ul>
            </div>
            <div class="right" v-if="num==index" v-for="(item,index) in foods">
                <div v-for="ele in item.arr" class="cont">
                    <div class="img">
                        <img :src="ele.img">
                    </div>
                    <div class="content">
                        <p>{{ele.name}}</p>
                        <p>{{ele.info}}</p>
                        <span>&yen;{{ele.price}}</span>
                    </div>
                </div>
            </div>
        </div>
    </template>
</body>

<script src="vue.js"></script>
<script>
    var component = Vue.component('bc-content-cont', {
        template: '#contentNav',
        // props: ['value'],
        data() {
            return {
                num: 0,
                foods: [
                    {
                        classify: '热销',
                        arr: [
                            {
                                img:'img/1.jpg',
                                name: '三鲜水饺',
                                price: 20,
                                info: '月销量50',
                            },
                            {
                                img:'img/1.jpg',
                                name: 'gdsajf',
                                price: 50,
                                info: '月销量90',
                            },
                            {
                                img:'img/1.jpg',
                                name: 'sgseags',
                                price: 30,
                                info: '月销量100',
                            },
                            {
                                img:'img/1.jpg',
                                name: '鸡蛋汤',
                                price: 30,
                                info: '月销量60',
                            },
                        ]
                    },
                    {
                        classify: '本店特色',
                        arr: [
                            {
                                img:'img/1.jpg',
                                name: 'hdsdikdbnsj',
                                price: 40,
                                info: '月销量50',
                            },
                            {
                                img:'img/1.jpg',
                                name: 'gdsajf',
                                price: 30,
                                info: '月销量50',
                            },
                            {
                                img:'img/1.jpg',
                                name: 'sgseags',
                                price: 10,
                                info: '月销量50',
                            },
                        ]
                    },
                    {
                        classify: '招牌包子',
                        arr: [
                            {
                                img:'img/1.jpg',
                                name: '猪肉大葱包子',
                                price: 30,
                                info: '月销量50',
                            },
                            {
                                img:'img/1.jpg',
                                name: '韭菜盒子',
                                price: 15,
                                info: '月销量50',
                            },
                            {
                                img:'img/1.jpg',
                                name: '猪肉玉米包子',
                                price: 10,
                                info: '月销量50',
                            },
                        ]
                    },
                    {
                        classify: '营养粥品',
                        arr: [
                            {
                                img:'img/1.jpg',
                                name: '皮蛋瘦肉粥',
                                price: 30,
                                info: '月销量50',
                            },
                            {
                                img:'img/1.jpg',
                                name: '小米粥',
                                price: 15,
                                info: '月销量50',
                            },
                            {
                                img:'img/1.jpg',
                                name: '大米粥',
                                price: 10,
                                info: '月销量50',
                            },
                        ]
                    },
                ]
            }
        },
        methods: {
            change() {

            }
        }
    })
    var vm = new Vue({
        el:'#app',
        methods:{
            
        }
    })

</script>

</html>