<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="iconfont.css">
    <script src="flexible_css.js"></script>
    <script src="flexible.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
 /*          #app{
            height: 150px;
            width:300px;
        }*/
        .box{
            width: 240px;
        }
        .box *{
            float: left;
        }
        .box span{
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border: 1px solid blue;
            font-size: 20px;
            user-select: none;
            cursor: pointer;
        }
        .box input{
            outline: none;
            width: 30px;
            height: 20px;
        }
        .prev{
            color: blue;
        }
        .next{
            background: blue;
            color: #fff;
        }
        .int{
            width: 80px;
            height: 30px;
            margin: 0 20px;
            padding: 0 10px;
        }
        .show{
            height: 40px;
            line-height: 40px;
            margin-left: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="hezi">
            <fh-dd></fh-dd>
     </div>
    <template id="xxk-cnt">
        <div class="lists clearfix">
            <div class="head_tb">
                <p class="youjian"><</p>
                <h3 class="jf-bzp">庆丰包子铺(窦店)</h3>
            </div>   

            <div class="dincan">
                <ul>
                    <li>点餐</li>
                    <li>评价</li>
                    <li>商店</li>
                </ul>
            </div>
  
            <ul class="list-hz">
                <li class="litem" v-for="(food,$index) in caixi" :class="indexs==$index?'active':''" @click="indexs=$index" >{{food.ltypes}}</li>
            </ul>

            <div class="right-box">
                <div v-if="indexs==$index" v-for="(ltypect,$index) in caixi"><!-- 遍历的所有菜系 -->
                    <div class="cnt-hz clearfix" v-for="cont in ltypect.food">
                        <div class="imgbox">
                            <img :src='cont.img' alt="">
                        </div>
                        <div class="bd-box">
                            <p class="titles">{{cont.name}}</p>
                            <div class="jsj clearfix">
                                <p class="price">￥{{cont.price}}</p>
                               <!--  <bc-input-number v-model="cont.num" :min="0"></bc-input-number> --><!-- 购物车商品数量 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </template>

     <!-- 计数器组件 -->
    <!-- <template id="jishuqi">
        <div class="box">
            <span v-show="shuliang" class="prev" @click="prev">-</span>
            <input v-show="shuliang" type="text" class="int" v-model="shuliang">
            <span class="next" @click="next">+</span>
        </div>
    </template> -->



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
        //选项卡
        Vue.component('fh-dd', {
            template: '#xxk-cnt',
            data() {
                return {
                    indexs: 0,
                    caixi: [
                        {
                            ltypes: '高档菜系',
                            food: [{
                                name: '混凝吨牛排',
                                price: '8000',
                                img: 'img/1.jpg'
                            }, {
                                name: '狗不吃包子',
                                price: '3200',

                                img: 'img/3.jpg'
                            },{
                                name: '萨拉',
                                price: '8000',
                                img: 'img/6.jpg'
                            },{
                                name: '死神鸭肉',
                                price: '8000',
                                img: 'img/7.jpg'
                            },{
                                name: '宫爆鸡丁',
                                price: '8000',
                                img: 'img/8.jpg'
                            }]
                        }, {
                            ltypes: '中系',
                            food: [{
                                name: '帝王蟹黄腿',
                                price: '5000',

                                img: 'img/4.jpg'
                            },{
                                name: '鸭肺',
                                price: '2500',
                                img: 'img/5.jpg'
                            },{
                                name: '狗不吃包子',
                                price: '5000',

                                img: 'img/8.jpg'
                            },{
                                name: '宫爆鸡丁',
                                price: '5000',

                                img: 'img/2.jpg'
                            },{
                                name: '帝王蟹黄腿',
                                price: '5000',

                                img: 'img/6.jpg'
                            }]
                        }, {
                            ltypes: '日系',
                            food: [{
                                name: '酥焦鸡腿',
                                price: '5000',

                                img: 'img/6.jpg'
                            }, {
                                name: '寿司',
                                price: '30000',

                                img: 'img/7.jpg'
                            },{
                                name: '帝王蟹黄腿',
                                price: '5000',

                                img: 'img/3.jpg'
                            },{
                                name: '酥焦鸡腿',
                                price: '5000',

                                img: 'img/1.jpg'
                            },{
                                name: '宫爆鸡丁',
                                price: '5000',

                                img: 'img/2.jpg'
                            }]
                        }, {
                            ltypes: '利式',
                            food: [{
                                name: '五层地黄榴莲披萨',
                                price: '4500',

                                img: 'img/8.jpg'
                            },{
                                name: '酥焦鸡腿',
                                price: '40',

                                img: 'img/4.jpg'
                            },{
                                name: '羊肉串',
                                price: '40',

                                img: 'img/3.jpg'
                            },{
                                name: '宫爆鸡丁',
                                price: '40',

                                img: 'img/7.jpg'
                            },{
                                name: '羊肉串',
                                price: '40',

                                img: 'img/9.jpg'
                            }]
                        },{
                            ltypes: '美式',
                            food: [{
                                name: '五层地黄榴莲披萨',
                                price: '4500',

                                img: 'img/6.jpg'
                            },{
                                name: '美式牛排',
                                price: '40',

                                img: 'img/3.jpg'
                            },{
                                name: '经典羊排',
                                price: '40',

                                img: 'img/6.jpg'
                            },{
                                name: '黑胡椒卷面',
                                price: '40',

                                img: 'img/2.jpg'
                            },{
                                name: '混凝吨牛排',
                                price: '40',

                                img: 'img/7.jpg'
                            }]
                        },{
                            ltypes: '韩式',
                            food: [{
                                name: '五层地黄榴莲披萨',
                                price: '4500',

                                img: 'img/3.jpg'
                            },{
                                name: '羊肉串',
                                price: '40',

                                img: 'img/4.jpg'
                            },{
                                name: '混凝吨牛排',
                                price: '4500',

                                img: 'img/5.jpg'
                            },{
                                name: '五层地黄榴莲披萨',
                                price: '4500',

                                img: 'img/6.jpg'
                            },{
                                name: '经典羊排',
                                price: '4500',

                                img: 'img/7.jpg'
                            }]
                        },{
                            ltypes: '非式',
                            food: [{
                                name: '五层地黄榴莲披萨',
                                price: '4500',

                                img: 'img/1.jpg'
                            },{
                                name: '羊肉串',
                                price: '40',

                                img: 'img/2.jpg'
                            },{
                                name: '经典羊排',
                                price: '4500',

                                img: 'img/5.jpg'
                            },{
                                name: '五层地黄榴莲披萨',
                                price: '4500',

                                img: 'img/1.jpg'
                            },{
                                name: '经典羊排',
                                price: '4500',

                                img: 'img/7.jpg'
                            }]
                        }
                    ]
             }
            }
        })

         //计数器
        // Vue.component('bc-input-number', {
        //     template: '#jishuqi',
        //     props: ['value', 'step', 'max', 'min'],
        //     data() {
        //         return {
        //             shuliang: this.value || 0,
        //         }
        //     },
        //     watch: {
        //         shuliang(val, oldvalue) { 
        //             if (val >= this.max) {
        //                 val = this.max
        //             }
        //             if (val <= this.min) {
        //                 val = this.min
        //             }
        //             this.$emit('input', val)//第一个参数：事件名，第二个参数：传递的事件参数，用$event来接收，或者方法的第一个参数。
        //         },
        //     },
        //     methods: {
        //         next() {
        //             if (this.shuliang >= this.max) {
        //                 this.shuliang = this.max;
        //                 return;
        //             }
        //             this.shuliang += this.step || 1;
        //         },
        //         prev() {
        //             if (this.shuliang <= this.min) {
        //                 this.shuliang= this.min;
        //                 return;
        //             }
        //             this.shuliang -= this.step || 1;
        //         }
        //     }
        // })
       
        var vm = new Vue({
            el:'#app',
            data:{
                value: 0,
            },
            methods:{
               
            }
        })
</script>
</body>

</html>