* {
  margin: 0;
  padding: 0;
  user-select: none; }

#app {
  width: 750px;
  height: auto; }
  .container {
    width: 750px;
    height: auto;
    background: #f5f5f5; }
    .back {
      width: 750px;
      height: 100px; }
      .back h3 {
        width: 720px;
        font-size: 38px;
        line-height: 100px;
        padding-left: 30px; }
        .back h3 i {
          font-size: 36px;
          color: #258cd7; }
    .content {
      width: 730px;
      height: auto;
      padding: 10px 10px 0 10px;
      background: #3db2f8; }
      .content .qf {
        width: 680px;
        padding: 0 25px;
        height: auto;
        background: #fff; }
        .content .qf .header {
          width: 680px;
          height: 100px;
          border-bottom: solid 2px #ccc; }
          .content .qf .header span {
            line-height: 100px;
            font-size: 34px; }
        .content .qf .foods {
          width: 680px;
          height: auto;
          border-top: solid 1px #ccd;
          margin-top: 4px; }
          .content .qf .foods .food {
            width: 680px;
            height: 180px;
            border-bottom: solid 1px #ccc; }
            .content .qf .foods .food .foodImg {
              width: 100px;
              height: 180px;
              float: left; }
              .content .qf .foods .food .foodImg img {
                vertical-align: middle;
                width: 100px;
                height: 100px; }
            .content .qf .foods .food .intro {
              width: 560px;
              height: 180px;
              float: left;
              margin-left: 20px;
              line-height: 180px; }
              .content .qf .foods .food .intro .name {
                width: 320px;
                height: 180px;
                float: left;
                font-size: 32px; }
              .content .qf .foods .food .intro .num {
                width: 120px;
                height: 180px;
                float: left;
                font-size: 24px; }
              .content .qf .foods .food .intro .money {
                width: 120px;
                height: 180px;
                float: right;
                font-size: 32px; }
        .content .qf .lunchBox, .content .qf .delivery {
          width: 680px;
          height: 100px;
          border-bottom: solid 1px #ccc; }
          .content .qf .lunchBox h3, .content .qf .delivery h3 {
            line-height: 100px;
            font-size: 30px; }
            .content .qf .lunchBox h3 span, .content .qf .delivery h3 span {
              width: 120px;
              height: 100px;
              display: inline-block;
              float: right; }
        .content .qf .totalPrices {
          width: 680px;
          height: 100px;
          border-bottom: solid 1px #ccc; }
          .content .qf .totalPrices h3 {
            line-height: 100px;
            font-size: 30px; }
            .content .qf .totalPrices h3 span {
              width: 120px;
              height: 100px;
              display: inline-block;
              float: right; }
    .footer {
      width: 750px;
      height: 97px;
      position: fixed;
      left: 0;
      bottom: 0; }
      .footer .car {
        width: 580px;
        height: 97px;
        background: #515154;
        float: left; }
        .footer .car h4 {
          color: #fff;
          font-size: 36px;
          line-height: 97px;
          padding-left: 20px; }
      .footer .account {
        width: 170px;
        height: 97px;
        background: #37cb72;
        float: right; }
        .footer .account p {
          line-height: 97px;
          text-align: center;
          font-size: 34px;
          color: #fff; }
