<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/flexible.js"></script>
    <script src="./js/flexible_css.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/1.css">
</head>

<body>
    <div id="box">
        <!-- 全部 -->
        <bc-container>
            <!-- 头部 -->
            <bc-header>
                <dianpu></dianpu>
            </bc-header>
            <!-- 中间 -->
            <bc-main>
                <!-- 选项卡 -->
                <abc :data="arr"  v-model="value" :max='10' :min='0'>
                    <!-- 计数器 -->
                    <!-- <bc-input-number v-model="value" :max='10' :min='0' :disabled="true"></bc-input-number> -->
                </abc>
            </bc-main>
            <!-- 尾部 -->
            <bc-footer>
                <jiezhang></jiezhang>
            </bc-footer>
        </bc-container>

    </div>
    <!-- 全部 -->
    <template id="bccontainer">
        <div class="quan">
            <slot>
            </slot>
        </div>

    </template>
    <!-- 头部 -->
    <template id="bcheader">
        <div class="shang">
            <slot>

            </slot>
        </div>
    </template>
    <!-- 中间 -->
    <template id="bcmain">
        <div class="zhong">
            <slot>

            </slot>
        </div>
    </template>
    <!-- 下面 -->
    <template id="bcfooter">
        <div class="xia">
            <slot>

            </slot>
        </div>
    </template>
    <!-- 店铺 -->
    <template id="dianpu">
        <div class="dian">
            <slot>
                <div class="zjt">
                    <</div> <div class="qfbzp">庆丰包子铺（窦店）
                </div>
            </slot>
        </div>
    </template>
    <!-- 选项卡 -->
    <template id="abc">
        <div class="clearfix">
            <ul class="zuo">
                <li v-for="(item,index) in arr" @click="dianji(index)">
                    {{item.fenlei}}
                </li>
            </ul>
            <ul class="you">
                <li v-for="(item,index) in arr[vw].shiwu" class="clearfix">
                    <div class="le">
                        <img :src="item.img" alt="">
                    </div>
                    <div class="ri">
                        <p class="caiming">{{item.name}}</p>
                        <p class="yueshou">{{item.haoping}}</p>
                        <!-- <span></span> -->
                        <div class="jiage">
                            <p class="jiaqian">
                                {{item.jiage}}
                            </p>
                            <div class="fenshu">
                                <div class="el-input-number">
                                    <span role="button" class="el-input-number__decrease" @click="jian(item)">
                                        -
                                    </span>
                                    <span>{{item.num}}</span>
                                    <!-- <span>{{maxjiage}}</span> -->
                                    <span role="button" class="el-input-number__increase" @click="jia(item)">
                                        +
                                    </span>
                                    <!-- <div class="el-input">
                                        <input class="el-input__inner" type="text" v-model="v" readonly>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- <h3>{{item.jiage}}</h3> -->
                    </div>
                    <!-- {{item.name}} -->
                </li>
            </ul>
        </div>
    </template>
    <!-- 计数器 -->
    <template id="abcd">
        <!-- <div class="el-input-number">
            <span role="button" class="el-input-number__decrease" @click="jian">
                -
            </span>
            <span role="button" class="el-input-number__increase" @click="jia">
                +
            </span>
            <div class="el-input">
                <input class="el-input__inner" type="text" v-model="v" readonly>
            </div>
        </div> -->
    </template>
    <!-- 结账 -->
    <template id="jiezhang">
        <div class="jiez">
            <div class="gouwuche">

            </div>
            <div class="zongjiaqian">
                <p class="zjq"></p>
                <p class="psf">另需配送费8元</p>
            </div>
            <div class="jiesuan">
                去结算
            </div>
        </div>
    </template>
    <script>
        // 全部
        Vue.component('bc-container', {
            template: '#bccontainer'
        })
        // 头部
        Vue.component('bc-header', {
            template: '#bcheader'
        })
        // 中间
        Vue.component('bc-main', {
            template: '#bcmain',
            props: ['value'],

        })
        // 尾部
        Vue.component('bc-footer', {
            template: '#bcfooter'
        })
        // 店铺
        Vue.component('dianpu', {
            template: '#dianpu'
        })
        // 选项卡
        Vue.component('abc', {
            template: '#abc',
            props: ['data', 'fs', 'value', 'max', 'min', 'step', ],
            data() {
                return {
                    num: '',
                    vw:0,
                    arr: this.data,
                    fs1: this.fs,
                    v: this.value,
                }
            },
            component:{
                add(){
                    var anum=[];
                    this.arr.forEach(element => {
                        this.shiwu.forEach(el=>{
                            if(el.num){
                                anum.push(el)
                            }
                        })
                    });
                    return anum;
                },
                max(){
                    var n_num=0;
                    this.add.forEach(element=>{
                       n_num+=element.jiage*element.num;
                   }); 
                   return n_num.toFixed(0);
                }
            },
            methods: {
                dianji(index){
                    this.vw=index
                },
                jia(item){
                    if(item.num){
						item.num++;
					}else{
						Vue.set(item,'num',1);
					}
                    // console.log(this.arr)
                    // console.log(item)
                    // if (!this.disabled) return
                    // if (this.num>= this.max) return
                    // this.v += this.step || 1;
                },
                jian(item){
                    if(item.num<=0) return;
                    item.num--
                    // if (!this.disabled) return
                    // if (this.v <= this.min) return
                    // this.v -= this.step || 1;

                }
            },
        })
        // 计数器
        // Vue.component('bc-input-number', {
        //     template: '#abcd',
        //     props: ['value', 'max', 'min', 'step', 'disabled'],
        //     data() {
        //         return {
        //             v:  this.value,
        //             // ok:'false'
        //         }
        //     },
        //     methods: {
        //         jia(){
        //             if (!this.disabled) return
        //             if (this.v >= this.max) return
        //             this.v += this.step || 1;
        //         },
        //         jian() {
        //             if (!this.disabled) return
        //             if (this.v <= this.min) return
        //             this.v -= this.step || 1;

        //         }
        //     },
        //     watch: {
        //         v(val, oldvalue) {
        //             this.$emit('input', val)
        //         }
        //     }
        // })
        // 结账
        Vue.component('jiezhang', {
            template: '#jiezhang'
        })
        var vm = new Vue({
            el: '#box',
            data() {
                return {
                    value: 0,
                    fs: 0,
                    arr: [{
                        fenlei: '热面',
                        shiwu: [{
                            name: '扁豆焖面',
                            img: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2964210048,198674735&fm=26&gp=0.jpg',
                            jiage: 10,
                            haoping: '月售18份 好评率100%'
                        },
                        {
                            name: '拉面',
                            img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3143512031,394516405&fm=26&gp=0.jpg',
                            jiage: 10,
                            haoping: '月售18份 好评率100%'
                        }]
                    },
                    {
                        fenlei: '水饺',
                        shiwu: [{
                            name: '素三鲜',
                            img: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3230556576,2262070531&fm=26&gp=0.jpg',
                            jiage: 10,
                            haoping: '月售18份 好评率100%'
                        }]
                    },
                    {
                        fenlei: '盖饭',
                        shiwu: [{
                            name: '土豆盖饭',
                            img: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2964210048,198674735&fm=26&gp=0.jpg',
                            jiage: 10,
                            haoping: '月售18份 好评率100%'
                        },
                        {
                            name: '豆腐盖饭',
                            img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3143512031,394516405&fm=26&gp=0.jpg',
                            jiage: 10,
                            haoping: '月售18份 好评率100%'
                        }]
                    },
                    {
                        fenlei: '饼类',
                        shiwu: [{
                            name: '烧饼',
                            img: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3230556576,2262070531&fm=26&gp=0.jpg',
                            jiage: 10,
                            haoping: '月售18份 好评率100%'
                        }]
                    },
                    {
                        fenlei: '包子',
                        shiwu: [{
                            name: '大包子',
                            img: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3230556576,2262070531&fm=26&gp=0.jpg',
                            jiage: 10,
                            haoping: '月售18份 好评率100%'
                        }]
                    }],
                }
            },
            
            // component:{
            //     add(){
            //         var anum=[];
            //         this.arr.forEach(element => {
            //             this.shiwu.forEach(el=>{
            //                 if(el.num){
            //                     anum.push(el)
            //                 }
            //             })
            //         });
            //     },
            //     maxjiage(){
            //         var n_num='';
            //        this.add.forEach(element=>{
            //            n_num+=element.jiage*element.num
            //        }) 
            //     }
            // },
            // methods: {
            //     dianji(index) {
            //         // console.log(this.fs1)
            //         this.num = this.arr[index]
            //     },
            //     jia(item) {
            //         item.num++
            //         // console.log(item)
            //         // if (!this.disabled) return
            //         // if (this.num>= this.max) return
            //         // this.v += this.step || 1;
            //     },
            //     jian(item) {
            //         if(item.num<=0) return;
            //         item.num--
            //         // if (!this.disabled) return
            //         // if (this.v <= this.min) return
            //         // this.v -= this.step || 1;

            //     }
            // },

        })
    </script>
</body>

</html>