.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.box {
  width: 750px;
  height: auto;
}

.header {
  width: 750px;
  height: 100px;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 34px;
  margin-bottom: 13px;
  box-sizing: border-box;
}

.header span {
  font-size: 30px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  width: 56px;
  color: #1294ed;
  display: inline-block;
}

.header .p1 {
  font-size: 32px;
  height: 100px;
  line-height: 100px;
  color: #161616;
  display: inline-block;
}

.header .other {
  height: 100px;
  display: block;
  float: right;
  padding-right: 30px;
}

.header .other span {
  font-size: 38px;
}

.main {
  width: 750px;
  height: auto;
}

.main .list {
  width: 153px;
  display: block;
  float: left;
  margin-right: 22px;
  height: auto;
}

.main .list li {
  width: 100%;
  height: 83px;
  color: #797979;
  font-size: 24px;
  padding-left: 14px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 83px;
  background: #f8f8f8;
}

.main .list li:hover {
  background: #fff;
  color: #888;
}

.main .detail {
  float: left;
  width: 550px;
  display: block;
}

.main .detail .right {
  width: 550px;
  display: inline-block;
  height: 191px;
  margin-bottom: 41px;
}

.main .detail .right img {
  width: 191px;
  height: 191px;
  float: left;
  display: block;
  border-radius: 3px;
  margin-right: 20px;
}

.main .detail .right .r-right {
  width: 336px;
  float: left;
  height: 191px;
}

.main .detail .right .r-right .rp1 {
  height: 34px;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 13px;
}

.main .detail .right .r-right .rp2 {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #a8a8a8;
  margin-bottom: 88px;
}

.main .detail .right .r-right .rp3 {
  color: #f85b4b;
  font-size: 22px;
}

.main .detail .right .r-right .add {
  float: right;
  color: #fff;
  background: #2a93ff;
  width: 44px;
  height: 44px;
  font-size: 34px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  display: block;
  margin-top: -44px;
}

.main .detail .right .r-right .add:hover {
  text-decoration: none;
}

.footer {
  width: 750px;
  height: 97px;
  background: #515152;
  position: fixed;
  bottom: 0;
}

.footer .che {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #424545;
  position: absolute;
  left: 24px;
  top: -20px;
  box-sizing: border-box;
  padding: 8px;
}

.footer .che span {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 82px;
  color: #fff;
  font-size: 42px;
  display: block;
  background: #2a94e7;
  border-radius: 50%;
}

.footer .total {
  width: 210px;
  height: 97px;
  box-sizing: border-box;
  padding-top: 20px;
  margin-left: 157px;
  display: inline-block;
}

.footer .total span:nth-of-type(1) {
  font-size: 28px;
  color: #fff;
  margin-bottom: 12px;
}

.footer .total span:nth-of-type(2) {
  font-size: 16px;
  color: #878787;
}

.footer .ok {
  width: 211px;
  height: 97px;
  text-align: center;
  line-height: 97px;
  font-size: 28px;
  border-style: none;
  color: #fff;
  float: right;
  background: #37cb72;
}
