<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>点灯</title>
    <style>
        * {margin: 0;padding: 0;}
        .box {width: 500px;height: 500px;border: 1px solid rgb(29, 255, 97);margin: 30px auto;}
        .d {width: 98px;float: left;height: 98px;text-align: center;line-height: 98px;border: 1px solid #ccc;}
    </style>
</head>
<body>
    <div class="box">
        <div class="d" v-for="(item,index) in list"><div class="d" v-for="(i,idx) in item" @click="add(idx,index)">{{i}}</div></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: ".box",
            data: {
                list: [["", "", "", "", ""], ["", "", "", "", ""], ["", "", "", "", ""], ["", "", "", "", ""], ["", "", "", "", ""]],
            },
            methods: {
                add(idx, index) {
                    if (this.list[index].indexOf(this.list[index][idx - 1]) != -1)this.list[index][idx - 1] ? this.list[index].splice(idx - 1, 1, "") : this.list[index].splice(idx - 1, 1, "1");
                    if (this.list[index + 1] && this.list[index + 1].indexOf(this.list[index + 1][idx]) != -1)this.list[index + 1][idx] ? this.list[index + 1].splice(idx, 1, "") : this.list[index + 1].splice(idx, 1, "1");
                    this.list[index][idx] ? this.list[index].splice(idx, 1, "") : this.list[index].splice(idx, 1, "1");
                    if (this.list[index - 1] && this.list[index - 1].indexOf(this.list[index - 1][idx]) != -1)this.list[index - 1][idx] ? this.list[index - 1].splice(idx, 1, "") : this.list[index - 1].splice(idx, 1, "1");
                    if (this.list[index].indexOf(this.list[index][idx + 1]) != -1)this.list[index][idx + 1] ? this.list[index].splice(idx + 1, 1, "") : this.list[index].splice(idx + 1, 1, "1");
                }
            }
        })
    </script>
</body>
</html>