<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script>
		window.onload = function() {
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 1080 * 100 + 'px';
			window.onresize = function() {
				document.documentElement.style.fontSize = document.documentElement.clientWidth / 1080 * 100 + 'px';
			}
		}
	</script>
	<link rel="stylesheet" href="font_1219640_ar54jmrw2mn/iconfont.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="css/css.css">
</head>
<body>
	<div id="app">
		<!-- 头部 -->
		<div id="header">
			<p>派送至:<span>北京石景山</span><i class="iconfont">&#xe6a4;</i><i class="iconfont">&#xe6a2;</i></p>
		</div>

		<!-- 内容 -->
		<div id="main">
			<div id="left">
				<ul>
					<li @click="tab(i)" v-for="(i,$index) in titarr">{{i}}</li>
				</ul>
			</div>
		 	<div id="right">
				<!-- <div id="classify">
					<ul>
						<li>综合排列</li>
						<li>按价格</li>
						<li>分类</li>
					</ul>
				</div> -->
				<ul>
					<li class="item" v-for="(i,$index) in itemarr">
						<div id="img">
							<img :src="i.imgsrc" alt="" align="top">
						</div>
						<div id="particulars">
							<p id="font">{{i.msg}}</p>
							<p id="price">{{i.price}}</p>
							<div id="quantity">
								<a href="#">+</a>
								<span>0</span>
								<a href="#">-</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script src="js/js.js"></script>
</html>