<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<link rel="stylesheet" type="text/css" href="css/a.css">
	<script type="text/javascript" src="flexible/flexible_css.js"></script>
	<script type="text/javascript" src="flexible/flexible.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css">
</head>
<body>
	<div id="app">
		<bc-container>
			<!-- 头部 -->
			<bc-header>
				<h3><i class="iconfont">&#xe601;</i>庆丰包子铺(窦店)</h3>
			</bc-header>
			<!-- 内容 -->
			<bc-content>
				<abc @total="total=$event" @num="num=$event">
				</abc>
			</bc-content>
			<!-- 底部 -->
			<transition>
				<bc-footer v-show="total">
				<div class="f-l">
					<i class="iconfont">&#xe600;</i>
					<span>￥{{total}}</span>
					<h3>另需配送费8元</h3>
				</div>
				<div class="f-r">
					<button>去结算</button>
				</div>
			</bc-footer>
			</transition>
		</bc-container>
	</div>
	<template id="container">
		<div class="container">
			<slot></slot>
		</div>
	</template>
	<template id="header">
		<div class="header">
			<slot></slot>
		</div>
	</template>
	<template id="content">
		<div class="content">
			<slot></slot>
		</div>
	</template>
	<template id="list">
		<div class="content clearfix">
			
			<ul class="left">
				<li v-for="(item,index) in foods" @click="dian(index)" :class="{active:currenyIndex == index}">{{item.ltypes}}</li>
			</ul>
			<ul class="right">
				<li v-for="(foods,index) in foods" v-if="currenyIndex == index">
					<div v-for="(i,index) in foods.food" class="clearfix item">
						<div class="img">
							<img :src="i.img">
						</div>
						<div class="text">
							<h3>{{i.name}}</h3>
							<p>{{i.info}}</p>
							<em>￥{{i.price}}</em>
							<bc-input-number v-model="i.value" :disabled="false" :min="0"></bc-input-number>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</template>
	<template id="inputNumber">
		<div class="el-input-number">
			<span role="button" class="el-input-number__decrease jian" @click="jian">
				-
			</span>
			<div class="el-input">
				<input type="text" class="el-input__inner" :step="1" :value="v" readonly>
			</div>
			<span role="button" class="el-input-number__increase jia" @click="jia">
				+
			</span>
		</div>
	</template>
	<template id="footer">
		<div class="footer clearfix">
			<slot></slot>
		</div>
	</template>
	<script type="text/javascript">
		Vue.component('bc-container',{
			template:'#container',
		})
		Vue.component('bc-header',{
			template:'#header',
		})
		Vue.component('bc-content',{
			template:'#content',
		})
		Vue.component('bc-footer',{
			template:'#footer',
		})
		//内容
		var componet = Vue.component('abc',{
			template:'#list',
			data(){
				return {
					v:this.value,
					value:0,
					currenyIndex: 0,
                    foods: [
                        {
                            ltypes: '水饺',
                            food: [{
                                name: '猪肉白菜水饺',
                                price: 16,
                                info: '虾仁一个，万年青菜',
                                img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562255798314&di=65d96390961564d8dbf556d1b8c8f574&imgtype=0&src=http%3A%2F%2Fimg1.voc.com.cn%2FUpLoadFile%2F2016%2F08%2F25%2F201608250717393006.jpg'
                            }, {
                                name: '鲅鱼三鲜水饺',
                                price: 20,
                                info: '猪肉(肥瘦适中),大葱',
                                img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg'
                            }, {
                                name: '虾仁三鲜水饺',
                                price: 25,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=24833232,650301067&fm=11&gp=0.jpg'
                            }, {
                                name: '南瓜皮菌菇三鲜猪肉...',
                                price: 24,
                                info: '猪肉(肥瘦适中),大葱',
                                img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg'
                            }, {
                                name: '绿豆粥',
                                price: 3,
                                info: '猪肉(肥瘦适中),大葱',
                                img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg'
                            }, {
                                name: '鲜肉馄饨',
                                price: 20,
                                info: '猪肉(肥瘦适中),大葱',
                                img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg'
                            }]
                        }, {
                            ltypes: '流食',
                            food: [{
                                name: '猪肉白菜水饺',
                                price: 16,
                                info: '虾仁一个，万年青菜',
                                img: 'https://f10.baidu.com/it/u=4282036640,831512286&fm=72'
                            }, {
                                name: '鲅鱼三鲜水饺',
                                price: 20,
                                info: '猪肉(肥瘦适中),大葱',
                                img: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3607722980,2957536157&fm=26&gp=0.jpg'
                            }, {
                                name: '牛肉芹菜水饺',
                                price: 22,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3295395667,1755581435&fm=26&gp=0.jpg'
                            }, {
                                name: '虾仁三鲜水饺',
                                price: 25,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=129404797,970943927&fm=26&gp=0.jpg'
                            }]
                        }, {
                            ltypes: '凉菜',
                            food: [{
                                name: '鲜肉混沌',
                                price: 6,
                                info: '虾仁一个，万年青菜',
                                img: 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2350039188,1052181721&fm=26&gp=0.jpg'
                            }, {
                                name: '棒渣粥',
                                price: 2,
                                info: '猪肉(肥瘦适中),大葱',
                                img: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1780820455,1494179116&fm=26&gp=0.jpg'
                            }, {
                                name: '芥菜混沌',
                                price: 10,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1585667943,3820285033&fm=26&gp=0.jpg'
                            }, {
                                name: '小米粥',
                                price: 3,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=940502177,3033959034&fm=26&gp=0.jpg'
                            }]
                        }, {
                            ltypes: '包子',
                            food: [{
                                name: '芥兰黄豆',
                                price: 8,
                                info: '虾仁一个，万年青菜',
                                img: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1758786112,3837879453&fm=26&gp=0.jpg'
                            }, {
                                name: '茶鸡蛋',
                                price: 2,
                                info: '猪肉(肥瘦适中),大葱',
                                img: 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3483539389,1137286553&fm=26&gp=0.jpg'
                            }, {
                                name: '奥尔良鸡翅',
                                price: 23,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=904914610,3912827275&fm=26&gp=0.jpg'
                            }, {
                                name: '果仁菠菜',
                                price: 8,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1986855178,3497225521&fm=26&gp=0.jpg'
                            }]
                        }, {
                            ltypes: '庆丰福粽',
                            food: [{
                                name: '波蕊口乐',
                                price: 4.5,
                                info: '虾仁一个，万年青菜',
                                img: 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3839467754,1267011684&fm=26&gp=0.jpg'
                            }, {
                                name: '果粒橙',
                                price: 4,
                                info: '猪肉(肥瘦适中),大葱',
                                img: 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1778258153,1719694364&fm=26&gp=0.jpg'
                            }, {
                                name: '北冰洋听',
                                price: 5,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=236960007,561190420&fm=15&gp=0.jpg'
                            }, {
                                name: '冰红茶',
                                price: 4,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2077900526,3951155038&fm=26&gp=0.jpg'
                            }, {
                                name: '绿茶',
                                price: 4,
                                info: '香菇，木耳，鸡蛋',
                                img: 'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2077900526,3951155038&fm=26&gp=0.jpg'
                            }]
                        }, {
                            ltypes: '庆丰特色冷饮',
                            food: [{
                                name: '特色小包点',
                                price: 6,
                                info: '下午茶小点心椒盐黑芝麻',
                                img: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4145667057,3880337190&fm=11&gp=0.jpg'
                            }]
                        },{
                            ltypes: '豆浆饮品',
                            food: [{
                                name: '特色小包点',
                                price: 6,
                                info: '下午茶小点心椒盐黑芝麻',
                                img: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4145667057,3880337190&fm=11&gp=0.jpg'
                            }]
                        },
                    ]
				}
			},
			watch:{
                total(value,oldvalue){
                    this.$emit('total',value);
                },
                num(value,oldvalue){
                    this.$emit('num',value);
                }
            },
			computed:{
                //价格 
                total(){
                    var jiage = 0;
                    this.foods.forEach(element => {
                        element.food.forEach(el => {
                            jiage += el.price * (el.value || 0);
                        });
                    });
                    return jiage;
                },
                // 商品总数量
                num(){ 
                    var num = 0;
                    this.foods.forEach(element => {
                        element.food.forEach(element => {
                            num += (element.num || 0);
                        })
                    })
                    return num;
                }
            },
			methods:{
				dian(index){
					this.currenyIndex = index
				},

			}
		})
		Vue.component('bcInputNumber',{
            template: '#inputNumber',
            props: ['value','min','step','disabled'],
            data() {
                return {
                    v:this.value || 0,
                }
            },
            watch:{
                v(value,oldvalue){
                    this.$emit('input',value);
                },
                
            },
            methods:{
                jia(){
                    if(this.disabled) return;
                    this.v++;
                },
                jian(){
                    if(this.disabled) return;
                    if(this.v<=this.min) return;
                    this.v--;
                },
                
            }
        })
		var vm = new Vue({
			el:'#app',
			data(){
				return {
					total:0,
					value:0,
				}
			}
		})
	</script>
</body>
</html>