<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/flexible.js"></script>
    <script src="js/flexible_css.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>美团</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mt.css">
</head>
<body>
    <div id="head">
        <div class="header"></div>
        <div class="img"></div>
    </div>
    <div id="container">
        <goods></goods>
    </div>
    <template id="shops">
        <div id="content">
            <ul class="left">
                <li v-for="(item,index) in arr"  @click="send(index)" :class="{active:num==index}">{{item}}</li>
            </ul>
            <ul class="right">
                <li v-for="(it,index) in shop[num]">
                    <img :src="it.img">
                    <div class="r">
                        <h1>{{it.name}}</h1>{{it.name}}
                        <span>{{it.price}}</span>
                        <p>{{it.info}}</p>
                    </div>
                </li>
            </ul>
        </div>
        
    </template>
    <script>
        Vue.component('goods',{
            template:'#shops',
            props:['currentIndex'],
            data(){
                return{
                    num:0,
                    arr:['折扣','本店特色','招牌包子','营养粥品','爽口小菜','庆丰水饺','馄饨面食','豆浆饮品'],
                    shop:[
                        [
                            {
                                name:'早点套餐',
                                img:'https://p0.meituan.net/wmproduct/65e9eec84b9c84770802550f4f52fa46693725.jpg',
                                price:'￥6.9',
                                info:'南瓜山药粥+小点心'
                            },
                            {
                                name:'健康套餐B',
                                img:'https://p1.meituan.net/wmproduct/0f76a4a8e27d33e4f2247f547f4286e8257458.jpg',
                                price:'￥26.2',
                                info:'猪肉荠菜包+爽口木耳1盘+小吊梨汤1瓶+小包点1个'
                            },
                            {
                                name:'解馋套餐A',
                                img:'https://p0.meituan.net/wmproduct/69a20824b020e9ccfbdbb8767c738bda260660.jpg',
                                price:'￥26.2',
                                info:'猪肉三鲜包2两+海带丝1盘+小吊梨汤1瓶+小包点1个'
                            }
                        ],
                        [
                            {
                                name:'茶叶蛋',
                                img:'https://p1.meituan.net/wmproduct/f44ec147f8fdc69f63e180d6388300e4152759.jpg',
                                price:'￥2',
                                info:'新鲜鸡蛋制造，美味'
                            },
                            {
                                name:'黑芝麻汤圆(3只)',
                                img:'https://p1.meituan.net/wmproduct/f44ec147f8fdc69f63e180d6388300e4152759.jpg',
                                price:'￥5',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            }
                        ],
                        [
                            {
                                name:'牛肉大葱',
                                img:'https://p0.meituan.net/wmproduct/beca720e79b37cbab5f2203b34ff53a2142993.jpg',
                                price:'￥10',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'酸菜猪肉包(6个)',
                                img:'https://p1.meituan.net/wmproduct/31743f856a93daf47f6f35c5fe232cc8143858.jpg',
                                price:'￥8',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            }
                        ],
                        [
                            {
                                name:'红豆薏米粥',
                                img:'https://p1.meituan.net/wmproduct/e0aed5b1da5f5be18a7748d47dd3254578050.jpg',
                                price:'￥5',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'皮蛋瘦肉粥',
                                img:'https://p0.meituan.net/wmproduct/df78b91e9ad1da79276e892513d464d246020.jpg',
                                price:'￥6',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            }
                        ],
                        [
                            {
                                name:'茶鸡蛋(茶叶蛋)',
                                img:'https://p1.meituan.net/wmproduct/f44ec147f8fdc69f63e180d6388300e4152759.jpg',
                                price:'￥2',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'咸鸭蛋',
                                img:'https://p0.meituan.net/xianfu/f80e0188cdeb52d0758265bed4f8ae33317440.jpg',
                                price:'￥3',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'拌三丝',
                                img:'https://p0.meituan.net/wmproduct/87243aa8009a94ddc0bb0402fd02db56170926.jpg',
                                price:'￥6',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'西兰花',
                                img:'https://p1.meituan.net/xianfu/0115477bb4c65cbe49f8199af7352548412950.jpg',
                                price:'￥8',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'酸辣瓜丝',
                                img:'https://p1.meituan.net/wmproduct/518b960c4135773abc1ca4b946ffd312162172.jpg',
                                price:'￥8',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'酱肘花',
                                img:'https://p0.meituan.net/wmproduct/af16e904c27cbce36a6f25c1a8e3421a160905.jpg',
                                price:'￥20',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'酱猪耳',
                                img:'https://p0.meituan.net/wmproduct/92dc0e9d15d6683e9df1d684066140b0162521.jpg',
                                price:'￥24',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            }
                        ],
                        [
                            {
                                name:'白菜猪肉水饺/盘',
                                img:'https://p1.meituan.net/wmproduct/99c817f5c640e4680cbde0792346cfdd179666.jpg',
                                price:'￥16',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'牛肉西芹饺子/盘',
                                img:'https://p1.meituan.net/wmproduct/99c817f5c640e4680cbde0792346cfdd179666.jpg',
                                price:'￥22',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'牛肉马蹄水饺',
                                img:'https://p1.meituan.net/wmproduct/99c817f5c640e4680cbde0792346cfdd179666.jpg',
                                price:'￥22',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            }
                        ],
                        [
                            {
                                name:'庆丰凉面',
                                img:'https://p0.meituan.net/wmproduct/05868f0d61022448925845fe17dd157d181583.jpg',
                                price:'￥15',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'猪肉芦笋烧麦',
                                img:'https://p0.meituan.net/wmproduct/383a018745112c69351cf0f43a5c8f8573814.jpg',
                                price:'￥21',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'芦笋鲜肉烧麦',
                                img:'https://p0.meituan.net/wmproduct/383a018745112c69351cf0f43a5c8f8573814.jpg',
                                price:'￥21',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'牛肉面',
                                img:'https://p1.meituan.net/wmproduct/c8bc093f0dc06c3a72cec21521dc1cba73301.jpg',
                                price:'￥18',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                        ],
                        [
                            {
                                name:'庆丰豆奶',
                                img:'https://p1.meituan.net/wmproduct/c4663f453184f617de4441052903f862253935.jpg',
                                price:'￥6',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'原味豆浆',
                                img:'https://p0.meituan.net/wmproduct/195ad4f213a88ed19de3ee2c404957f2168542.jpg',
                                price:'￥5',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'红枣豆浆',
                                img:'https://p0.meituan.net/wmproduct/195ad4f213a88ed19de3ee2c404957f2168542.jpg',
                                price:'￥5',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'矿泉水',
                                img:'https://p0.meituan.net/xianfuwm/43a7ae47f01882cc19ec085ab36027d8332616.jpg',
                                price:'￥2.5',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'大可乐',
                                img:'https://p0.meituan.net/xianfu/b4fb5f237cc67b8d8407189b1080449879872.jpg',
                                price:'￥10',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'加多宝',
                                img:'https://p1.meituan.net/xianfuwm/28e8ecab48a6ed19d973fe8d9e9e9d2c244483.jpg',
                                price:'￥5',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'小冰红茶',
                                img:'https://p0.meituan.net/xianfuwm/da0c25d1609cf0adf4781aa2354141b5123974.jpg',
                                price:'￥4',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            },
                            {
                                name:'绿茶',
                                img:'https://p0.meituan.net/xianfuwm/3ac9d08aed245e2174f0e222c8ec7faa293164.jpg',
                                price:'￥4',
                                info:'豆汁是北京久负盛名的传统风味小吃。具有色泽灰绿，豆汁浓醇，味酸且微甜的特色'
                            }
                        ]
                    ]
                }
            },
            methods:{
                send(index) {
                    // var list = document.querySelectorAll('.left li');
                    this.num = index;
                }
            },
        })
        var vm = new Vue({
            el:'#container',
            data(){
                return{
                    currentIndex:0,
                }
            },
        })
    </script>
</body>
</html>