* {
  padding: 0;
  margin: 0; }

#container {
  width: 750px; }

.v-enter {
  bottom: -97px; }

.v-enter-active {
  transition: 0.75s; }

.v-enter-to {
  bottom: 0; }

.v-leave {
  bottom: 0; }

.v-leave-active {
  transition: 0.75s; }

.v-leave-to {
  bottom: -97px; }

.head {
  width: 750px;
  height: 100px;
  border-bottom: 1px solid #515152;
  margin-bottom: 20px; }

.head span {
  line-height: 100px;
  font-size: 30px; }

.jt {
  margin-left: 34px;
  color: #2a93ff;
  line-height: 100px;
  font-size: 40px; }

.content {
  width: 750px;
  height: 850px; }

#content {
  width: 750px;
  height: 850px;
  margin-bottom: 20px; }

.bq {
  width: 750px;
  height: 100px;
  box-sizing: border-box;
  margin-bottom: 20px; }

.bq p {
  width: 250px;
  text-align: center;
  line-height: 98px;
  font-size: 30px;
  float: left; }

.bq span {
  width: 80px;
  height: 80px;
  display: inline-block; }

.bor {
  width: 50px;
  border-bottom: 3px solid #2a93ff;
  text-align: center; }

.left {
  width: 153px;
  height: auto;
  background-color: #f8f8f8;
  margin-right: 22px;
  float: left; }

.left li {
  height: 83px;
  margin-bottom: 10px;
  line-height: 83px;
  text-align: center;
  font-size: 26px;
  color: #5a5a5a; }

.active {
  background-color: #ffffff;
  color: #888888; }

.right {
  float: left; }

.right li {
  height: 200px;
  margin-bottom: 41px; }

.image {
  width: 191px;
  height: 191px;
  margin-right: 20px;
  float: left; }

.image img {
  width: 191px;
  height: 191px; }

.r {
  width: 364px;
  float: left; }

.r h1 {
  font-size: 20px;
  color: #2e2e2e;
  margin-bottom: 24px; }

.r p {
  font-size: 12px;
  color: #c2c2c2;
  margin-bottom: 30px; }

.jg {
  height: 80px; }

.jg p {
  color: #ea6957;
  font-size: 30px;
  line-height: 63px;
  float: left;
  margin-right: 20px; }

#ipt {
  float: right; }

.el-input-number {
  position: relative;
  display: inline-block;
  width: 180px;
  line-height: 64px; }

.el-input-number__decrease {
  left: 1px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #2c90ff;
  background: #ffffff;
  color: #2c90ff; }

.el-input-number__increase {
  right: 1px;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #dcdfe6;
  background: #2c90ff;
  color: #ffffff; }

.el-input-number__decrease, .el-input-number__increase {
  position: absolute;
  z-index: 1;
  top: 1px;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 40px; }

i {
  font-family: element-icons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased; }

.el-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%; }

.el-input-number .el-input__inner {
  -webkit-appearance: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }

.el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 1;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%; }

#foot {
  width: 750px;
  height: 97px;
  background-color: #515152;
  position: fixed;
  bottom: 0;
  left: 0; }

.car {
  width: 539px;
  float: left; }

.gw {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: #2a93ff;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  margin-left: 20px;
  position: absolute;
  top: -10px; }

.jss {
  width: 211px;
  height: 97px;
  background-color: #37cb72;
  line-height: 97px;
  text-align: center;
  float: right;
  border: none; }

#jsBtn {
  color: #ffffff;
  font-size: 20px; }

.money {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 120px; }

.jiesuan span {
  font-size: 14px;
  color: #c2c2c2; }

.totalnum {
  position: absolute;
  left: 80px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background-color: #ea6957;
  color: #fff; }

.tou {
  width: 750px;
  height: 100px;
  background-color: #fff; }

.tou span {
  line-height: 100px;
  font-size: 40px; }

.contents {
  width: 750px;
  background: linear-gradient(#41a7fb, #fff);
  height: 500px;
  padding-top: 20px; }

.ord {
  width: 670px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 20px 0 20px; }

.zhz {
  height: 150px;
  border-bottom: 1px dashed #ccc; }

.dm {
  height: 140px;
  line-height: 140px;
  font-size: 40px;
  color: #414141;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px; }

.imag {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  float: left; }

.imag img {
  width: 100px;
  height: 100px; }

.rig {
  line-height: 150px; }

.title {
  font-size: 40px;
  color: #363636;
  margin-left: 20px;
  margin-right: 100px; }

.pri {
  float: right;
  margin-right: 20px; }

.tot {
  height: 150px;
  border-bottom: 1px solid #ccc;
  line-height: 150px; }

.yh {
  color: #c5c5c5;
  font-size: 40px;
  float: left; }

.wen {
  color: #c5c5c5;
  font-size: 40px; }

.jq {
  font-size: 30px;
  color: #414141; }

.xj {
  font-size: 48px;
  color: #373737;
  float: right;
  margin-right: 20px; }

.cleared {
  width: 750px;
  height: 130px;
  background-color: #3d3d3d;
  position: fixed;
  bottom: 0;
  left: 0; }

.clear {
  font-size: 40px;
  color: #fff;
  line-height: 130px;
  margin-left: 20px;
  float: left; }

.cBtn {
  width: 300px;
  height: 130px;
  background-color: #01df66;
  color: #fef9f3;
  line-height: 130px;
  text-align: center;
  border: none;
  float: right; }

.bz {
  padding: 2px;
  background-color: #c5c5c5;
  color: #414141;
  border: 1px solid #2e2e2e;
  margin-right: 10px; }

.ch {
  font-size: 20px;
  color: #2e2e2e;
  float: left; }

.jh {
  float: right; }

.fn {
  padding: 2px;
  background-color: #2a93ff;
  color: #fff;
  margin-right: 10px; }

.psf {
  font-size: 20px;
  color: #2e2e2e;
  float: left; }

.jh {
  float: right; }
