* {
  padding: 0;
  margin: 0; }

#container {
  width: 10rem; }

.v-enter {
  bottom: -1.29333rem; }

.v-enter-active {
  transition: 0.75s; }

.v-enter-to {
  bottom: 0; }

.v-leave {
  bottom: 0; }

.v-leave-active {
  transition: 0.75s; }

.v-leave-to {
  bottom: -1.29333rem; }

.head {
  width: 10rem;
  height: 1.33333rem;
  border-bottom: 1px solid #515152;
  margin-bottom: 0.26667rem; }

.head span {
  line-height: 1.33333rem;
  font-size: 0.4rem; }

.jt {
  margin-left: 0.45333rem;
  color: #2a93ff;
  line-height: 1.33333rem;
  font-size: 0.53333rem; }

.content {
  width: 10rem;
  height: 11.33333rem; }

#content {
  width: 10rem;
  height: 11.33333rem;
  margin-bottom: 0.26667rem; }

.bq {
  width: 10rem;
  height: 1.33333rem;
  box-sizing: border-box;
  margin-bottom: 0.26667rem; }

.bq p {
  width: 3.33333rem;
  text-align: center;
  line-height: 1.30667rem;
  font-size: 0.4rem;
  float: left; }

.bq span {
  width: 1.06667rem;
  height: 1.06667rem;
  display: inline-block; }

.bor {
  width: 0.66667rem;
  border-bottom: 0.04rem solid #2a93ff;
  text-align: center; }

.left {
  width: 2.04rem;
  height: auto;
  background-color: #f8f8f8;
  margin-right: 0.29333rem;
  float: left; }

.left li {
  height: 1.10667rem;
  margin-bottom: 0.13333rem;
  line-height: 1.10667rem;
  text-align: center;
  font-size: 0.34667rem;
  color: #5a5a5a; }

.active {
  background-color: #ffffff;
  color: #888888; }

.right {
  float: left; }

.right li {
  height: 2.66667rem;
  margin-bottom: 0.54667rem; }

.image {
  width: 2.54667rem;
  height: 2.54667rem;
  margin-right: 0.26667rem;
  float: left; }

.image img {
  width: 2.54667rem;
  height: 2.54667rem; }

.r {
  width: 4.85333rem;
  float: left; }

.r h1 {
  font-size: 0.26667rem;
  color: #2e2e2e;
  margin-bottom: 0.32rem; }

.r p {
  font-size: 0.16rem;
  color: #c2c2c2;
  margin-bottom: 0.4rem; }

.jg {
  height: 1.06667rem; }

.jg p {
  color: #ea6957;
  font-size: 0.4rem;
  line-height: 0.84rem;
  float: left;
  margin-right: 0.26667rem; }

#ipt {
  float: right; }

.el-input-number {
  position: relative;
  display: inline-block;
  width: 2.4rem;
  line-height: 0.85333rem; }

.el-input-number__decrease {
  left: 1px;
  border-radius: 0.05333rem 0 0 0.05333rem;
  border-right: 1px solid #2c90ff;
  background: #ffffff;
  color: #2c90ff; }

.el-input-number__increase {
  right: 1px;
  border-radius: 0 0.05333rem 0.05333rem 0;
  border-left: 1px solid #dcdfe6;
  background: #2c90ff;
  color: #ffffff; }

.el-input-number__decrease, .el-input-number__increase {
  position: absolute;
  z-index: 1;
  top: 1px;
  width: 0.84rem;
  height: 0.84rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 0.53333rem; }

i {
  font-family: element-icons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased; }

.el-input {
  position: relative;
  font-size: 0.18667rem;
  display: inline-block;
  width: 100%; }

.el-input-number .el-input__inner {
  -webkit-appearance: none;
  padding-left: 0.66667rem;
  padding-right: 0.66667rem;
  text-align: center; }

.el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 0.05333rem;
  border: none;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 0.53333rem;
  line-height: 1;
  outline: none;
  padding: 0 0.2rem;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%; }

#foot {
  width: 10rem;
  height: 1.29333rem;
  background-color: #515152;
  position: fixed;
  bottom: 0;
  left: 0; }

.car {
  width: 7.18667rem;
  float: left; }

.gw {
  border-radius: 50%;
  height: 1.06667rem;
  width: 1.06667rem;
  background-color: #2a93ff;
  line-height: 1.06667rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.66667rem;
  margin-left: 0.26667rem;
  position: absolute;
  top: -0.13333rem; }

#jsBtn {
  width: 2.81333rem;
  height: 1.29333rem;
  background-color: #37cb72;
  color: #ffffff;
  float: right;
  border: none; }

.money {
  color: #fff;
  font-size: 0.4rem;
  position: absolute;
  top: 50%;
  margin-top: -0.2rem;
  left: 1.6rem; }

.jiesuan span {
  font-size: 0.18667rem;
  color: #c2c2c2; }

.totalnum {
  position: absolute;
  left: 1.06667rem;
  top: -0.13333rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 0.4rem;
  background-color: #ea6957;
  color: #fff; }

.tou {
  width: 10rem;
  height: 1.33333rem;
  background-color: #fff; }

.tou span {
  line-height: 1.33333rem;
  font-size: 0.53333rem; }

.contents {
  width: 10rem;
  background: linear-gradient(#41a7fb, #fff);
  height: 6.66667rem;
  padding-top: 0.26667rem; }

.ord {
  width: 8.93333rem;
  height: 6.66667rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 0.26667rem 0 0.26667rem; }

.zhz {
  height: 2rem;
  border-bottom: 1px dashed #ccc; }

.dm {
  height: 1.86667rem;
  line-height: 1.86667rem;
  font-size: 0.53333rem;
  color: #414141;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.13333rem; }

.imag {
  width: 1.33333rem;
  height: 1.33333rem;
  margin-top: 0.33333rem;
  float: left; }

.imag img {
  width: 1.33333rem;
  height: 1.33333rem; }

.rig {
  line-height: 2rem; }

.title {
  font-size: 0.53333rem;
  color: #363636;
  margin-left: 0.26667rem;
  margin-right: 1.33333rem; }

.pri {
  float: right;
  margin-right: 0.26667rem; }

.tot {
  line-height: 2rem; }

.yh {
  color: #c5c5c5;
  font-size: 0.53333rem;
  float: left; }

.wen {
  color: #c5c5c5;
  font-size: 0.53333rem; }

.jq {
  font-size: 0.4rem;
  color: #414141; }

.xj {
  font-size: 0.64rem;
  color: #373737;
  float: right;
  margin-right: 0.26667rem; }

.cleared {
  width: 10rem;
  height: 1.73333rem;
  background-color: #3d3d3d;
  position: fixed;
  bottom: 0;
  left: 0; }

.clear {
  font-size: 0.53333rem;
  color: #fff;
  line-height: 1.73333rem;
  margin-left: 0.26667rem;
  float: left; }

.cBtn {
  width: 4rem;
  height: 1.73333rem;
  background-color: #01df66;
  color: #fef9f3;
  line-height: 1.73333rem;
  text-align: center;
  border: none;
  float: right; }
