<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/flexible_css.js"></script>
		<script type="text/javascript" src="js/flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="font/demo.css" />
		<link rel="stylesheet" type="text/css" href="font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/stuffed.css" />
	</head>

	<body>
		<div id="app">
			<!--{{allnum}}-->
			<bc-container>
				<bc-header>
				</bc-header>
				<bc-main>
					<meit :data="foods" @total="allnum=$event" @totals="allsnum=$event"></meit>
				</bc-main>
				<bc-footer>
					<total :key="1" v-show="!allnum==0">
						<div class="foot clearfix">
							<div class="footleft clearfix">
								<div class="shopcart">
									<span class="iconfont">&#xe611;</span>
									<i>{{allsnum}}</i>
								</div>
								<div class="total">
									<h4>￥{{allnum}}</h4>
									<p>另需配送费8元</p>
								</div>
							</div>
							<div class="footright">
								<button>去结算</button>
							</div>
						</div>
					</total>
				</bc-footer>
			</bc-container>
		</div>
		<template id="bc-container">
			<div class="box">
				<slot></slot>
			</div>
		</template>
		<template id="bc-header">
			<div class="header clearfix">
				<span class="iconfont">&#xe60e;</span>
				<p>庆丰包子铺(窦店镇)</p>
				<span class="iconfont">&#xe62b;</span>
				<span class="iconfont">&#xe608;</span>
			</div>
		</template>
		<template id="bc-main">
			<div class="cont">
				<ul class="shop clearfix">
					<li><span class="active">点赞</span></li>
					<li><span>评价</span></li>
					<li><span>商家</span></li>
				</ul>
				<slot></slot>
			</div>
		</template>
		<template id="meit">
			<div class="content clearfix">
				<div class="contleft">
					<ul>
						<li :class="numIndex==index?'active':''" @click="numIndex=index" v-for="(cont,index) in food">{{cont.class}}</li>
					</ul>
				</div>
				<div class="contright">
					<div v-if="numIndex==index" v-for="(item,index) in food">
						<div class="text clearfix" v-for="cont in item.arr">
							<div class="left">
								<img :src="cont.img" />
							</div>
							<div class="right">
								<h3 class="title">{{cont.name}}</h3>
								<p class="info">{{cont.info}}</p>
								<div class="counter clearfix">
									<span class="pirce">{{cont.price}}</span>
									<bc-input-number v-model="cont.vals" :disabled="true" :step="1" :min="0"></bc-input-number>
								</div>
							</div>
							<!--{{totalPrice}}
							{{cont.val}}-->
						</div>
					</div>
				</div>
			</div>
		</template>
		<template id="inputNumber">
			<div class="el-input-number">
				<span v-if="!va==0" @click="jian" role="button" class="el-input-number__decrease is-disabled">
					<i class="el-icon-minus iconfont">&#xe619;</i>
				</span>
				<span @click="plus" role="button" class="el-input-number__increase">
					<i class="el-icon-plus iconfont">&#xe60d;</i>
				</span>
				<div v-if="!va==0 || !va==undefined" class="el-input">
					<input type="text" v-model="va" disabled>
				</div>
			</div>
		</template>
		<template id="bc-footer">
			<div class="footer">
				<transition-group tag="div" name="btn">
					<slot></slot>
				</transition-group>
			</div>
		</template>
		<template id="total">
			<div class="foots">
				<slot></slot>
			</div>
		</template>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript">
			Vue.component('bc-container', {
				template: '#bc-container',
				data() {
					return {

					}
				},
			})
			Vue.component('bc-header', {
				template: '#bc-header',
				data() {
					return {

					}
				},
			})
			Vue.component('bc-main', {
				template: '#bc-main',
				data() {
					return {}
				},
			})
			Vue.component('bc-footer', {
				template: '#bc-footer',
				data() {
					return {}
				},
			})
			Vue.component('total', {
				template: '#total',
				//				props: ['data'],
				data() {
					return {
						//						allsnum: this.data
					}
				},
			})
			Vue.component('meit', {
				template: '#meit',
				props: ['data'],
				data() {
					return {
						numIndex: 0,
						value: 0,
						food: this.data
					}
				},
				watch: {
					totalPrice(val, oldval) {
						this.$emit('total', val)
					},
					totalQuantity(val,oldval){
						this.$emit('totals', val)
					}
				},
				computed: {
					totalPrice() {
						var totalprice = 0;
						this.food.forEach(item => {
							item.arr.forEach(cont => {
								totalprice += (cont.vals || 0) * cont.price;
							})
						})
						//						for(var i = 0; i < this.food.length; i++) {
						//							for(var j = 0; j < this.food[i].arr.length; j++) {
						//								totalprice += (this.food[i].arr[j].val || 0) * this.food[i].arr[j].price
						//							}
						//						}
						return totalprice
					},
					totalQuantity(){
						var totalquantity = 0;
						this.food.forEach(item => {
							item.arr.forEach(cont => {
								totalquantity += cont.vals || 0;
							})
						})
						return totalquantity
					}

				}
			})
			Vue.component('bc-input-number', {
				template: '#inputNumber',
				props: ['value', 'max', 'min', 'step', 'disabled'],
				data() {
					return {
						va: this.value || 0,
					}
				},
				watch: {
					va(val, oldvalue) {
						if(val >= this.max) {
							val = this.max
						}
						if(val <= this.min) {
							val = this.min
						}
						this.$emit('input', val)
					},
				},
				methods: {
					plus() {
						if(!this.disabled) return
						if(this.va >= this.max) return
						this.va += this.step || 1
					},
					jian() {
						if(!this.disabled) return
						if(this.va <= this.min) return
						this.va -= this.step || 1
					}
				}
			})
			var vm = new Vue({
				el: '#app',
				data: {
					allsnum:0,
					//					value: 0,
					allnum: 0,
					foods: [{
							class: '水饺',
							arr: [{
									name: '猪肉白菜水饺',
									img: 'img/8.png',
									price: 16,
									info: '月销量18份 100%好评',
								},
								{
									name: '鱿鱼三鲜水饺',
									price: 20,
									img: 'img/9.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '虾仁三鲜水饺',
									price: 25,
									img: 'img/10.png',
									info: '月销量18份 100%好评',
								},
							]
						},
						{
							class: '流食',
							arr: [{
									name: '鲜肉混沌',
									price: 6,
									img: 'img/10.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '荠菜混沌',
									price: 10,
									img: 'img/9.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '紫菜蛋花汤',
									price: 5,
									img: 'img/8.png',
									info: '月销量18份 100%好评',
								},
							]
						},
						{
							class: '凉菜',
							arr: [{
									name: '酱牛肉',
									price: 33,
									img: 'img/11.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '爽口木耳',
									price: 8,
									img: 'img/10.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '猪皮冻',
									price: 10,
									img: 'img/9.png',
									info: '月销量18份 100%好评',
								},
							]
						},
						{
							class: '包子',
							arr: [{
									name: '虾仁菜心包',
									price: 9,
									img: 'img/11.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '冬笋酱肉包',
									price: 10,
									img: 'img/10.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '素三鲜包',
									price: 9,
									img: 'img/9.png',
									info: '月销量18份 100%好评',
								},
							]
						},
						{
							class: '饮料',
							arr: [{
									name: '波蕊口乐',
									price: 4.5,
									img: 'img/11.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '北冰洋',
									price: 5,
									img: 'img/10.png',
									info: '月销量18份 100%好评',
								},
								{
									name: '胡萝卜苹果汁',
									price: 10,
									img: 'img/9.png',
									info: '月销量18份 100%好评',
								},
							]
						},

					]
				}
			})
		</script>
	</body>

</html>