<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="font/iconfont.css">
		<link rel="stylesheet" href="iconfont.css">
		<title>Document</title>
		<link rel="stylesheet" href="1.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script>
			window.onload = function() {
				document.documentElement.style.fontSize = document.documentElement.clientWidth / 1080 * 100 + 'px';
				window.onresize = function() {
					document.documentElement.style.fontSize = document.documentElement.clientWidth / 1080 * 100 + 'px';
				}
			}
		</script>
	</head>

	<body>
		<div id="app">
			<router-view></router-view>
		</div>
		<template id="account">
			<div class="container">
				<div class="header">
					<span>
						<router-link to="/"><span class="iconfont back">&#xe65b;</span></router-link> </span> <span>确认订单
					</span>
				</div>
				<div class="main">
					<ul class="account-list">
						<li v-for="item,i in arr">
							<div class="img">
								<img :src="item.img">
							</div>
							<div class="content">
								<p>{{item.title}}</p>
								<span>x{{item.shuliang}}</span>
								<span>￥{{(item.shuliang*item.price)}}</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="footer">
					<div>￥<span>{{total}}</span></div>
					<a>去支付</a>
				</div>
			</div>
		</template>
		<script>
			var commodity = Vue.extend({
				template: `
		    <div class="container">
		        <div class="header1">
		            <div class="header-title clearfix">
		                <h3>
		                    <span class="iconfont back">&#xe65b;</span>
		                    庆丰包子铺(窦店)
		                </h3>
		                <div class="header-icon">
		                    <span class="iconfont search">&#xe613;</span>
		                    <span class="iconfont share">&#xe623;</span>
		                </div>
		            </div>
		        </div>
				<ul class="list clearfix">
				    <li><a href="javascript:;">点餐</a></li>
				    <li><a href="javascript:;">评价</a></li>
				    <li><a href="javascript:;">商家</a></li>
				</ul>
		        <div class="mains">
		            <div class="left">
		                <div v-for="item,index in foods" @click="dianji(index)" :class="i==index?'active':''">{{item.type}}</div>
		            </div>
		            <div class="right">
		                <div class="item clearfix" v-for="(item,index) in foods[i].list">
		                    <div class="img">
		                        <img :src="item.img">
		                    </div>
		                    <div class="content">
		                        <p class='title'>{{item.title}}</p>
								<p class='info'>{{item.info}}</p>
		                        <div class="bottom">
		                            <span>￥{{item.price}}</span>
		                            <div class="jb">
		                                <i class="iconfont icon-jian" @click="jian(item)"></i>
		                                <span>{{item.shuliang || 0}}</span>
		                                <i class="iconfont icon-54" @click="jia(item)"></i>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="footers" v-if="show">
		            <div>￥<span>{{total}}</span></div>
		            <router-link  :to="{name:'account',params:{jiesuan}}">去结算</router-link>
		        </div>
		    </div>
		    `,
				methods: {
					dianji(index) {
						this.i = index;
					},
					jia(item) {
						if (item.shuliang) {
							item.shuliang++;
						} else {
							this.$set(item, 'shuliang', 1)
						}
					},
					jian(item) {
						if (item.shuliang) {
							if (item.shuliang == 0) return;
							item.shuliang--
						}
					},
				},
				computed: {
					jiesuan() {
						var arr = [];
						this.foods.forEach(element => {
							if (element.list && element.list.length > 0) {
								element.list.forEach(item => {
									if (item.shuliang) {
										arr.push(item);
									}
								})
							}
						});
						return arr;
					},
					total() {
						var num = 0;
						this.jiesuan.forEach(item => {
							num += item.price * item.shuliang;
						})
						return num.toFixed(1);
					}
				},
				watch: {
					jiesuan(v1) {
						if (v1.length > 0) {
							this.show = true;
						} else {
							this.show = false;
						}
					}
				},
				data() {
					return {
						show: false,
						i: 0,
						foods: [{
							type: '热销',
							list: [{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562255798314&di=65d96390961564d8dbf556d1b8c8f574&imgtype=0&src=http%3A%2F%2Fimg1.voc.com.cn%2FUpLoadFile%2F2016%2F08%2F25%2F201608250717393006.jpg',
									title: '三鲜水饺',
									price: 5,
									info: '月销18份，好评率100%',
								},

								{
									img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg',
									title: '三鲜水饺',
									price: 10,
									info: '月销18份，好评率100%',
								}, {
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562255798314&di=65d96390961564d8dbf556d1b8c8f574&imgtype=0&src=http%3A%2F%2Fimg1.voc.com.cn%2FUpLoadFile%2F2016%2F08%2F25%2F201608250717393006.jpg',
									title: '三鲜水饺',
									price: 15,
									info: '月销18份，好评率100%',
								}
							],
						}, {
							type: '流食',
							list: [{
									img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg',
									title: '三鲜水饺',
									price: 54,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562701243602&di=e3080eb943d074a752a1c38c22d67ce4&imgtype=0&src=http%3A%2F%2Fpic19.nipic.com%2F20120304%2F9409954_172909477000_2.jpg',
									title: '三鲜水饺',
									price: 11,
									info: '月销18份，好评率100%',
								}, {
									img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg',
									title: '三鲜水饺',
									price: 25,
									info: '月销18份，好评率100%',
								}
							],
						}, {
							type: '凉菜',
							list: [{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562255798314&di=65d96390961564d8dbf556d1b8c8f574&imgtype=0&src=http%3A%2F%2Fimg1.voc.com.cn%2FUpLoadFile%2F2016%2F08%2F25%2F201608250717393006.jpg',
									title: '三鲜水饺',
									price: 5,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562701243602&di=e3080eb943d074a752a1c38c22d67ce4&imgtype=0&src=http%3A%2F%2Fpic19.nipic.com%2F20120304%2F9409954_172909477000_2.jpg',
									title: '三鲜水饺',
									price: 11,
									info: '月销18份，好评率100%',
								}, {
									img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg',
									title: '三鲜水饺',
									price: 18,
									info: '月销18份，好评率100%',
								}
							],
						}, {
							type: '包子',
							list: [{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562255798314&di=65d96390961564d8dbf556d1b8c8f574&imgtype=0&src=http%3A%2F%2Fimg1.voc.com.cn%2FUpLoadFile%2F2016%2F08%2F25%2F201608250717393006.jpg',
									title: '三鲜水饺',
									price: 34,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg',
									title: '三鲜水饺',
									price: 5,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562701243602&di=e3080eb943d074a752a1c38c22d67ce4&imgtype=0&src=http%3A%2F%2Fpic19.nipic.com%2F20120304%2F9409954_172909477000_2.jpg',
									title: '三鲜水饺',
									price: 11,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1926447759,2383249261&fm=11&gp=0.jpg',
									title: '三鲜水饺',
									price: 12,
									info: '月销18份，好评率100%',
								}
							],
						}, {
							type: '庆丰福粽',
							list: [{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562255798314&di=65d96390961564d8dbf556d1b8c8f574&imgtype=0&src=http%3A%2F%2Fimg1.voc.com.cn%2FUpLoadFile%2F2016%2F08%2F25%2F201608250717393006.jpg',
									title: '三鲜水饺',
									price: 5,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562701243602&di=e3080eb943d074a752a1c38c22d67ce4&imgtype=0&src=http%3A%2F%2Fpic19.nipic.com%2F20120304%2F9409954_172909477000_2.jpg',
									title: '三鲜水饺',
									price: 11,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4115338636,2261836611&fm=27&gp=0.jpg',
									title: '三鲜水饺',
									price: 22,
									info: '月销18份，好评率100%',
								}
							],
						}, {
							type: '特色冷饮',
							list: [{
									img: 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=24833232,650301067&fm=11&gp=0.jpg',
									title: '三鲜水饺',
									price: 23,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562701243602&di=e3080eb943d074a752a1c38c22d67ce4&imgtype=0&src=http%3A%2F%2Fpic19.nipic.com%2F20120304%2F9409954_172909477000_2.jpg',
									title: '三鲜水饺',
									price: 11,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562255798314&di=65d96390961564d8dbf556d1b8c8f574&imgtype=0&src=http%3A%2F%2Fimg1.voc.com.cn%2FUpLoadFile%2F2016%2F08%2F25%2F201608250717393006.jpg',
									title: '三鲜水饺',
									price: 11,
									info: '月销18份，好评率100%',
								}
							],
						}, {
							type: '豆浆饮品',
							list: [{
									img: 'http://www.qing-feng.com/Uploads/logo_56230ceebea07.jpg',
									title: '三鲜水饺',
									price: 14,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562701243602&di=e3080eb943d074a752a1c38c22d67ce4&imgtype=0&src=http%3A%2F%2Fpic19.nipic.com%2F20120304%2F9409954_172909477000_2.jpg',
									title: '三鲜水饺',
									price: 11,
									info: '月销18份，好评率100%',
								},
								{
									img: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562255798314&di=65d96390961564d8dbf556d1b8c8f574&imgtype=0&src=http%3A%2F%2Fimg1.voc.com.cn%2FUpLoadFile%2F2016%2F08%2F25%2F201608250717393006.jpg',
									title: '三鲜水饺',
									price: 21,
									info: '月销18份，好评率100%',
								}
							],
						}],
					}
				}
			})
			var account = Vue.extend({
				template: '#account',
				data() {
					return {
						arr: this.$route.params.jiesuan || [],
					}
				},
				computed: {
					total() {
						var num = 0;
						this.arr.forEach(item => {
							num += item.price * item.shuliang;
						})
						return num.toFixed(1);
					}
				},
			})
			const router = new VueRouter({
				routes: [{
					path: '/',
					component: commodity,
				}, {
					name: 'account',
					path: '/account',
					component: account,
				}, ]
			})
			var vm = new Vue({
				el: '#app',
				router,
			})
		</script>
	</body>

</html>
