* {
  margin: 0;
  padding: 0; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

#app {
  width: 620px; }
  #app .left {
    width: 200px;
    background-color: #ccc;
    float: left; }
    #app .left li {
      padding: 20px;
      text-align: center;
      line-height: 40px; }
    #app .left .active {
      background-color: yellow; }
  #app .right {
    width: 400px;
    margin-left: 20px;
    height: 560px;
    float: left; }
