*{margin: 0;padding: 0;list-style: none;}
img{vertical-align: middle;}
.clearfix:after,.clearfix:before{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom: 1;
}

/*庆丰包子*/
.head_tb{
    width: 10rem;
    height: 1.2rem;
    border-bottom: solid 1px #dedede;
}
.head_tb .youjian{
    float: left;
    font-size: 0.44rem;
    line-height: 1.2rem;
    margin-left: 0.3rem;
}
.head_tb .jf-bzp{
    line-height: 1.2rem;
    font-size: 0.44rem;
    margin-left: 0.3rem;
    float: left;
}
.dincan{
    width: 10rem;
    height: 1rem;
}
.dincan ul{
     width: 10rem;
    height: 1rem;
}
.dincan ul li{
    width: 33.33%;
    line-height: 1rem;
    text-align: center;
    font-size: 0.3rem;
    float: left;
}
.hezis{
    width: 10rem;
    border-top: solid 5px blue;
    border-left: solid 5px blue;
}
.shangpin{
    width: 10rem;
    height: 1.2rem;
    border-bottom: solid 1px #dedede;
}
.shangpin .sp{
    width: 4rem;
    float: left;
    margin-left: 0.3rem;
}
.shangpin .sp img{
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    float: left;
}
.shangpin .sp .spm{
    line-height: 1.2rem;
    float: left;
    margin-left: 0.3rem;
}
.shangpin .sl{
    line-height: 1.2rem;
    font-size: 0.3rem;
    float: left;
}
.shangpin .jq{
    line-height: 1.2rem;
    font-size: 0.3rem;
    float: right;
    margin-right: 0.3rem;
}