<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>美团订单</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="download/font_1274565_vedsi9g9ep/iconfont.css">
    <script src="flexible/flexible.js"></script>
    <script src="flexible/flexible_css.js"></script>
</head>
<body>
    <div class="box">
        <container>
            <!-- 头部 -->
            <bc-header>
                <div class="head">
                    <div class="header">
                        <span class="icon iconfont">&#xe601;</span>
                        <h4>庆丰包子铺(窦店)</h4>
                        <div class="headspan">
                            <span class="search icon iconfont">&#xe605;</span>
                            <span class="fenxiang icon iconfont">&#xe625;</span>
                        </div>
                    </div>
                    <!-- 导航 -->
                    <div class="nav">
                        <li><a href="javascript:;">点餐</a></li>
                        <li><a href="javascript:;">评价</a></li>
                        <li><a href="javascript:;">商家</a></li>
                    </div>
                </div>
            </bc-header>
            
            <bc-main>
                <ul class="main">
                    <!-- 列表 -->
                    <ul class="list">
                        <li @click="qiehuan(index)" v-for="(i,index) in arr"><a href="javascript:;">{{i.feilei}}</a></li>
                    </ul>
                    <!-- 菜单 -->
                    <div class="mainRight">
                        <zhu-ti v-for="(value,key) in arr" :key="key" :detial='value'>
                            <!-- <bc-input-number :disabled="true" v-model="value" :max="10" :min="0" :step="1">
                            </bc-input-number> -->
                        </zhu-ti>
                    </div>
                </ul>
            </bc-main>
            
            <bc-foot>
                <div class="foot">
                    <div class="footLeft">
                        <span class="gw"><a href="javascript:;"><span class="icon iconfont">&#xe602;</span></a></span>
                        <!-- 总价 -->
                        <div class="zj">
                            <p>￥0</p>
                            <span>另需配送费8元</span>
                        </div>
                    </div>
                    <div class="footRight">
                        <a href="javascript:;">去结算</a>
                    </div>
                </div>
            </bc-foot>
    
        </container>

    </div>
    <template id="adc">
        <div>
            <slot>

            </slot>
        </div>
    </template>
    <template id="tou">
        <div>
            <slot>

            </slot>
        </div>
    </template>
    <template id="main">
        <div>
            <slot>

            </slot>
        </div>
    </template>
    <!-- <template id="inputNumber">
        <div>
            <slot>
                <div class="el-input-number">
                    <div class="el-input-number">
                        <span @click="jian" role="button" class="el-input-number__decrease is-disabled">-</span>
                        <div class="el-input">
                            <input type="text" v-model="v" class="el-input__inner" readonly>
                        </div>
                        <span @click="jia" role="button" class="el-input-number__increase">+</span>
                    </div>
                </div>
            </slot>
        </div>
    </!--> -->
    <template id="footer">
        <div>
            <slot>
                
            </slot>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var component = Vue.component('container',{
            template:"#adc"
        });
        // 头部
        var component = Vue.component('bc-header',{
            template:"#tou"
        });
        // 主体
        var component = Vue.component('bc-main',{
            template:'#main'
        })
        var component = Vue.component('zhu-ti',{
            props:['detial'],
            template:'<div class="item"><div class="img"><img :src="detial.xiangqing.img" alt=""/></div><div class="wen"><h3>{{detial.xiangqing.name}}</h3><p>{{detial.xiangqing.jieshao}}</p><span>￥{{detial.xiangqing.jg}}</span></div></div>'
        })
        // var component = Vue.component('bcInputNumber', {
        //     props: ['value','max','min','step','disabled'],
        //     template: '#inputNumber',
        //     data(){
        //         return {
        //             v:this.value, 
        //         }
        //     },
        //     watch: {
        //         v(value,oldvalue){
        //             this.$emit('input',value);
        //             // 把value传出去
        //         }
        //     },
        //     methods: {
        //         jia(){
        //             if(!this.disabled) return;
        //             if(this.v>=this.max) return;
        //             this.v += this.step || 1;
        //         },
        //         jian(){
        //             if(!this.disabled) return;
        //             if(this.v<=this.min) return;
        //             this.v -= this.step || 1;
        //         }
        //     }
        // });
        var component = Vue.component('bc-foot',{
            template:'#footer'
        })
        new Vue({
            el:'.box',
            data(){
                return{
                    num:'',
                    arr:[
                        {
                            feilei:'热销',
                            xiangqing:[{
                                img:'http://p0.meituan.net/wmproduct/50137a2b668f606f2efc2fff577a64c827438.jpg@130w_130h_1e_1c',
                                name:'素三鲜水饺',
                                jieshao:'面粉、水、素三鲜',
                                jg:'15'
                                },
                            ]
                        },
                        {
                            feilei:'流食',
                            xiangqing:{
                                img:'http://p0.meituan.net/wmproduct/50137a2b668f606f2efc2fff577a64c827438.jpg@130w_130h_1e_1c',
                                name:'盖饭',
                                jieshao:'米饭、蔬菜、汤',
                                jg:'15'
                            } 
                        },
                        {
                            feilei:'凉菜',
                            xiangqing:{
                                img:'1.jpg',
                                name:'新鲜水果',
                                jieshao:'苹果、柚子、油桃、西瓜',
                                jg:'25'
                            }
                        },
                        {
                            feilei:'包子',
                            xiangqing:{
                                img:'1.jpg',
                                name:'包子',
                                jieshao:'柠檬汁、蔬菜汁、西瓜汁',
                                jg:'5'
                            }
                        },
                        {
                            feilei:'庆丰福粽',
                            xiangqing:{
                                img:'1.jpg',
                                name:'庆丰福粽',
                                jieshao:'柠檬汁、蔬菜汁、西瓜汁',
                                jg:'5'
                            }
                        },
                        {
                            feilei:'庆丰特色冷饮',
                            xiangqing:{
                                img:'1.jpg',
                                name:'庆丰特色冷饮',
                                jieshao:'柠檬汁、蔬菜汁、西瓜汁',
                                jg:'5'
                            }
                        },
                        {
                            feilei:'豆浆饮品',
                            xiangqing:{
                                img:'1.jpg',
                                name:'豆浆饮品',
                                jieshao:'柠檬汁、蔬菜汁、西瓜汁',
                                jg:'5'
                            }
                        },
                    ]
                }
            },
            methods:{
                qiehuan(index){
                    console.log(this.num)
                    this.num = this.arr[index];
                }
            }
        })

    </script>
</body>

</script>
</html>