@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
	user-select: none;
	font-size:10px;
}
[v-cloak]{
	display: none;
}
a{
	text-decoration: none;
}
$w: 750px;
#app{
	width: 750px;
	min-height: auto;
	@at-root{
		.container{
			width: 750px;
			height: auto;
			@at-root{
				.header{
					width: 750px;
					height: 100px;
					box-sizing: border-box;
					border-bottom: solid 1px #ccc;
					.back{
						width: 750px;
						height: 100px;
						i{
							font-size: 40px;
							line-height: 100px;
						}
						span{
							line-height: 100px;
							font-size: 36px;
							color: #000;
						}
						.help{
							width: 200px;
							height: 100px;
							float: right;
							a{
								text-decoration: none;
								i{
									// font-size: 40px;
									display: block;
									padding: 0 6px;
								}
							}
						}
					}
				}
			}
			@at-root{
				.content{
					width: 750px;
					min-height: 800px;
					box-sizing: border-box;
					.ul{
						width: 750px;
						height: 80px;
						ul{
							width: 750px;
							height: 80px;
							display: flex;
							li{
								flex: 1;
								line-height: 74px;
								height: 74px;
								text-align: center;
								list-style: none;
								font-size: 34px;
								color: #bbb;
							}
							li:hover{
								color: #000;
							}
							li:hover span{
								width: 80px;
								height: 4px;
								background: #77bbe7;
								margin: 0 auto;
								display: block;
							}
							li:first-child{
								color: #000;
							}
							li:first-child span{
								width: 80px;
								height: 4px;
								background: #77bbe7;
								margin: 0 auto;
								display: block;
							}
						}
					}
					.menu{
						width: $w;
						min-height: 700px;
						.discounts{
							width: 153px;
							float: left;
							ul{
								width: 153px;
								li{
									list-style: none;
									width: 153px;
									height: 83px;
									line-height: 83px;
									text-align: center;
									font-size: 32px;
									background: #f8f8f8;
									color:#888;
								}
								li.active{
									background: #fff;
								}
							}
						}
						.milky{
							margin-left: 22px;
							width: 575px;
							float: left;
							.meal{
								width: 597px;
								// padding-right: 20px;
								min-height: 600px;
								.fan{
									width: 597px;
									height: 191px;
									margin: 20px 0;
									.breakfast{
										width: 191px;
										height: 191px;
										float: left;
										img{
											width: 191px;
											height: 191px;
										}
									}
									.intro{
										width: 386px;
										height: 191px;
										margin-left: 20px;
										float: left;
										overflow: hidden;
										position: relative;
										h3{
											line-height: 46px;
											font-size: 36px;
										}
										.info{
											line-height: 36px;
											font-size: 26px;
											color: #a8a8a8;
										}
										.price{
											line-height: 40px;
											font-size: 30px;
											color: #fa5b4b;
											position: absolute;
											left:4px;
											bottom: 1px;
											.el-input-number {
											    position: relative;
											    display: inline-block;
											    width: 140px;
											    line-height: 38px;
											    .el-input-number__decrease {
												    right: 1px;
												    background: #2096fd;
												    color: #fff;
												    border: 1px solid #dcdfe6;
												}
												.el-input-number__increase {
												    left: 1px;
												    background-color: #fff;
												    border: 1px solid #2096fd;
												}
												.el-input-number__decrease, .el-input-number__increase {
												    position: absolute;
												    z-index: 1;
												    top: 1px;
												    width: 40px;
												    height: 40px;
												    text-align: center;
												    color: #606266;
												    cursor: pointer;
												    font-size: 13px; 
												    border-radius: 50%;
												    font-size: 28px;
												}
												.el-input {
												    position: relative;
												    font-size: 14px;
												    display: inline-block;
												    width: 60px;
												    margin-left: 40px;
												    .el-input__inner {
													    text-align: center;
													    background-color: #fff;
													    border-radius: 4px;
													    border: none;
													    box-sizing: border-box;
													    color: #606266;
													    display: inline-block;
													    font-size: inherit;
													    height: 40px;
													    line-height: 1;
													    outline: none;
													    padding: 0 8px;
													    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
													    width: 100%;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			@at-root{
				.footer{
					width:750px;
					height:97px;
					position: fixed;
					left: 0;
					bottom: 0;
					.shopping{
						width:750px;
						height:97px;
						position: relative;
						// background: #515154;
						.car{
							width:580px;
							height: 97px;
							background: #515154;
							float:left;
							span{
								position: absolute;
								width:90px;
								height:90px;
								border-radius: 50%;
								margin-top: -30px;
								margin-left: 30px;
								background: #43474d;
								padding: 10px;
								i{
									display: block;
									width: 90px;
									height: 90px;
									background: #3291ea;
									border-radius: 50%;
									color: #fff;
									font-size: 50px;
									text-align: center;
									line-height:90px;
								}
							}
							h4{
								color: #fff;
								font-size: 36px;
								padding-left: 174px;
							}
							p{
								color: #888;
								font-size: 20px;
								padding-left: 174px;
							}
						}
						.account{
							width: 170px;
							height: 97px;
							background: #37cb72;
							float: right;
							p{
								line-height: 97px;
								text-align: center;
								font-size: 34px;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}