<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>发票</title>
        <style>
        *{margin: 0;padding: 0;}
        #box{
            width: 100%;
            height: auto;
        }
        table{
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;
        }
        table tr>td{
            border: 1px solid #000;
            line-height: 50px;
            height: 50px;
            text-align: center;
            vertical-align: top;
            position: relative;
        }
        .price-title{
            line-height: 25px;
            height: 25px;
        }
        .red{
            color: red;
        }
        input{
            width: 100%;
            height: 100%;
            line-height: 48px;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid #ddd;
            box-shadow: none;
            box-sizing: border-box;
        }
    </style>
    </head>
    <body>
        <div id="box">
            <table>
                <tr>
                    <td width="200">品名</td>
                    <td width="200">单价</td>
                    <td width="200">数量</td>
                    <td :rowspan="productsLength+1">
                        <table>
                            <tr>
                                <td class="price-title" colspan="8">金额</td>
                            </tr>
                            <tr>
                                <td class="price-title">千</td>
                                <td class="price-title">百</td>
                                <td class="price-title">十</td>
                                <td class="price-title">万</td>
                                <td class="price-title">千</td>
                                <td class="price-title">百</td>
                                <td class="price-title">十</td>
                                <td class="price-title">元</td>
                            </tr>
                            <tr v-for="n in productsLength">
                                <td v-for="j in amountList[n-1]">{{j}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>备注</td>
                </tr>
                <tr v-for="product in products">
                    <td>
                        {{product.name}}
                        <input type="text" v-model="product.name">
                    </td>
                    <td>
                        {{product.price}}
                        <input type="text" v-model="product.price">
                    </td>
                    <td>
                        {{product.num}}
                        <input type="text" v-model="product.num">
                    </td>
                    <td>
                        {{product.beizhu}}
                        <input type="text" v-model="product.beizhu">
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td>合计</td>
                        <!-- 合并单元格 -->
                        <!-- 过滤器：让数字总价变成大写汉字 -->
                        <td colspan="4">{{sum | chinese}}</td>
                    </tr>
                </tfoot>
            </table>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
        new Vue({
            el:'#box',
            data(){
                return{
                    products:[
                        {
                            name:'',
                            price:'',
                            num:'',
                            beizhu:''
                        },
                        {
                            name:'',
                            price:'',
                            num:'',
                            beizhu:''
                        }
                    ]
                }
            },
            // 过滤器
            filters:{
                // val指的是你要转换的值
                'chinese':function(val){
                    var list1 = ['','壹','贰','叁','肆','伍','陆','柒','捌','玖'];
                    var list2 = ['元整','拾','佰','仟','万','拾','佰','仟','亿'];
                    // 把val转成字符串，然后根据下标
                    var str = val.toString();
                    var hzdx = '';
                    for(var i=0;i<str.length;i++){
                        hzdx += list1[Number(str.charAt(i))] + list2[str.length - i - 1];
                    }
                    // 必须写 return
                    return hzdx;
                }
            },
            computed:{
                // 合并单元格，循环时的长度
                productsLength(){
                    return this.products.length
                },
                // 总价
                amountList(){
                    // 存的是所有商品的总价
                    var arr = [];
                    this.products.forEach(element => {
                        // 要把总价转为字符串(用于补空位)
                        var str = (element.price * element.num).toString();
                        // 要补多少个空位的长度(空位的长度)
                        var zeroLength = 8 - str.length;
                        for(var i=0;i<zeroLength;i++){
                            str = ' '+str;
                        }
                        arr.push(str);
                    });
                    return arr
                },          
                // 计算总额
                sum(){
                    // 也要去循环products里面的每一个产品的单价和数量相乘
                    // t就是总价
                    var t = 0;
                    this.products.forEach(element => {
                        t += element.price * element.num
                    })
                    return t;
                }
            }
        })
    </script>
    </body>
</html>