<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <meta name="viewport" content="width=width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0"> -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	<link rel="stylesheet" href="style/index.css">
	<script src="flexible/flexible.js"></script>
	<script src="flexible/flexible_css.js"></script>

</head>

<body>
	<div class="container">
		<div class="head">
			< &nbsp;&nbsp;&nbsp; 省心套餐 <span>
				</span>
		</div>
		<div id="box">
			<abc v-model="number"></abc>
		</div>
		<template id="abc">
			<div class="content">
				<div class="list">
					<ul>
						<li>点餐</li>
						<li>评价</li>
						<li>商家</li>
					</ul>
				</div>
				<div class="contentList">
					<div class="orderList">
						<div class="orderList_l fl clearfix">
							<ul>
								<li v-for="(item,index) in arr">
									{{item.category}}
								</li>
							</ul>
						</div>
						<div class="orderList_r fr clearfix">
							<div class="orderList_r_item">
								<div class="orderList_r_item_top clearfix">
									<div class="orderList_r_item_l fl clearfix">
										<!-- <img src="img/meng.jpg" alt=""> -->
										<!-- <img :src="item.imgurl" alt=""> -->
									</div>
									<div class="orderList_r_item_r fl clearfix">
										<span style="font-weight: bolder;font-size: 30px;">绿豆粥</span>
										<!-- <p>主要原料：大米</p> -->
										<!-- <p v-for="(item,index) in num.arr">{{item.foodName}}</p> -->
										<p>月售51份，好评率100%</p>
									</div>
								</div>
								<div class="orderList_r_item_bottom">
									<i style="font-weight: bolder;font-style: normal;">热销</i>
									<span>大家喜欢吃，才叫真好吃</span>
								</div>
							</div>

						</div>
					</div>
					<div class="commentList" style="display: none;">评价123123123123</div>
					<div class="shopList" style="display: none;">商家123123123</div>
				</div>
			</div>
		</template>
	</div>
	<div class="toTop">
		<a href="#">top</a>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		Vue.component('abc', {
			template: '#abc',
			props: ['number'],
			data() {
				return {
					num: '',
					arr: [
						{
							// 分类
							'category': '热销',
							'detail': {
								'imgurl': 'img/meng.jpg',
								'foodName': '绿豆粥',
								// 主要原料
								'mainprincipal': '大米',
								'price': 123
							}
						}, {
							'category': '夏季专享系列',
							'detail': {
								'imgurl': 'img/meng.jpg',
								'foodName': '小米粥',
								// 主要原料
								'mainprincipal': '大米',
								'price': 123
							}
						}, {
							'category': '盖饭类',
							'detail': {
								'imgurl': 'img/meng.jpg',
								'foodName': '盖饭',
								// 主要原料
								'mainprincipal': '大米',
								'price': 123
							}
						}, {
							'category': '蒸饺系列',
							'detail': {
								'imgurl': 'img/meng.jpg',
								'foodName': '盖饭',
								// 主要原料
								'mainprincipal': '大米',
								'price': 123
							}
						},
					]
				}
			},
			methods: {
				dianji(index) {
					alert(123)
					arr:this.arr;
					this.num = this.arr[index];
					console.log(this.num);
				}
			}
		})

		new Vue({
			el: '.container',
			data() {
				return {
					number: 0
				}
			}
		})
	</script>
</body>

</html>