* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100px;
}


.clearfix {

    &:after,
    &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

$w:750px;


.container {
    width: $w;
    height: auto;
    overflow: hidden;
    @at-root {
        .header {
            width: $w;
            height: 100px;
            line-height: 100px;
            font-size: 28px;
            .lArrow {
                margin-left: 34px;
            }

            .shopName {
                margin-left: 20px;
            }
        }

        .content {
            width: $w;
            height: auto;
            padding-bottom: 200px;
            .list {
                ul {
                    width: $w;
                    overflow: hidden;
                    border-bottom: 2px dashed #000;
                    border-top: 2px dashed #000;
                    box-sizing: border-box;

                    li {
                        width: 245px;
                        float: left;
                        height: 80px;
                        line-height: 80px;
                        font-size: 30px;
                        text-align: center;
                        color: #ccc;
                    }
                    li:hover{
                        color: #000;
                    }
                }
            }

            .contentList {
                width: 750px;
                height: auto;

                .orderList_l {
                    width: 153px;

                    ul {
                        width: 153px;

                        li {
                            width: 153px;
                            height: 80px;
                            line-height: 80px;
                            text-align: center;
                            background: #f8f8f8;
                            // border: 1px solid #000;
                            font-size: 30px;
                            box-sizing: border-box;
                        }

                        li:hover {
                            background: white;
                        }
                    }
                }

                .orderList_r {
                    width: 590px;
                    padding-left: 22px;

                    @at-root {
                        .orderList_r_item {
                            margin: 10px 0 41px;
                            .orderList_r_item_top {
                                width: 595px;

                                .orderList_r_item_l {
                                    width: 191px;

                                    img {
                                        width: 191px;
                                        height: 191px;
                                    }
                                }

                                .orderList_r_item_r {
                                    width: 404px;
                                    padding-left: 20px;
                                    box-sizing: border-box;
                                    line-height: 50px;
                                    .right_item_r_span{
                                        color: #a8a8a8;
                                        display: block;
                                        font-size: 30px;
                                    }
                                    p {
                                        color: #ccc;
                                        font-size: 30px;
                                    }
                                    .lBox{
                                        span{
                                            color: red;
                                            font-size: 30px;
                                        }
                                    }
                                    .rBox{
                                        font-size: 30px;
                                        margin-right: 30px;
                                    }
                                    .el-input-number {
                                        position: relative;
                                        display: inline-block;
                                        width: 120px;
                                        line-height: 38px;
                                    }
                                    .el-input-number__decrease,
                                    .el-input-number__increase {
                                        font-size: 40px;
                                        position: absolute;
                                        z-index: 1;
                                        top: 1px;
                                        width: 40px;
                                        height: auto;
                                        text-align: center;
                                        background: #f5f7fa;
                                        color: #606266;
                                        font-size: 20px;
                                        font-weight: bolder;
                                    }
                            
                                    .el-input-number__increase {
                                        background: #2396fe;
                                        border-radius: 50%;
                                        left: none;
                                        right: 0;
                                    }
                            
                                    .el-input-number__decrease {
                                        background: #2396fe;
                                        border-radius: 50%;
                                    }
                            
                                    .el-input__inner {
                                        -webkit-appearance: none;
                                        background-color: #fff;
                                        background-image: none;
                                        border-radius: 4px;
                                        box-sizing: border-box;
                                        border: none;
                                        color: #606266;
                                        display: inline-block;
                                        font-size: inherit;
                                        height: 40px;
                                        line-height: 40px;
                                        outline: none;
                                        padding: 0 40px;
                                        text-align: center;
                                        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
                                        width: 100%;
                                    }
                                }
                            }

                            .orderList_r_item_bottom {
                                width: 100%;
                                height: 40px;
                                line-height: 40px;
                                font-size: 30px;
                                padding-left: 30px;
                                box-sizing: border-box;
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            width: $w;
            height: auto;
            .footerBox{
                width: 750px;
                height: 97px;
                background: #535354;
                position: fixed;
                left: 0;
                bottom: 0;
                .shopping{
                    width: 100px;
                    height: 100px;
                    line-height: 70px;
                    text-align: center;
                    border: 8px solid #45474e;
                    background: #328fe5;
                    border-radius: 50%;
                    position: fixed;
                    left: 24px;
                    bottom: 20px;
                    span{
                        font-size: 20px;
                        color: white;
                    }
                }
                .priceBox{
                    font-size: 30px;
                    line-height: 40px;
                    margin-left: 150px;
                    color: #fff;
                }
                .rBox{
                    width: 210px;
                    height: 97px;
                    line-height: 97px;
                    text-align: center;
                    color: #fff;
                    font-size: 30px;
                    background-color: #37cb70;
                }
            }

        }
        .toTop {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            background: cyan;
            font-size: 30px;
            position: fixed;
            bottom: 120px;
            right: 20px;
            z-index: 10;

            a {
                text-decoration: none;
            }
        }
    }
}